@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Builds.IndexModel


<div class="card full-card">
    <div class="card-body">
        <div class="card-container">
            <div class="full-content">
                    
                <div class="row" style="height: 100%">
                    <div class="col-9">
                        @* <page-title> *@
                        <h3 style="display: inline"> Home </h3>
                    Hello World!
                    </div>
                @* <h3 class="card-title">All Builds</h3> *@
                @* <div> *@
                @*     <div style="overflow-x: auto;"> *@
                @* *@
                @*     </div> *@
                @* </div> *@
                </div>
            </div>
        </div>
    </div>
</div>