@using Base2art.CiCd.Coordinator.Web.Collections
@using Base2art.CiCd.Coordinator.Web.Public.Resources
@using Base2art.CiCd.Coordinator.Web.UI
@using Base2art.CiCd.Coordinator.Web.UI.Pages.Partials
@using Base2art.Web.Pages
@using Newtonsoft.Json
@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Builds.ViewBuildModel

@using (this.Card())
{
    <div style="margin-top:20px">

        <div class="buildGrid container tableContainer" >
            <div class="row">
                <div class="col-2">
                    Key
                </div>
                <div class="col-10">
                    Value
                </div>
            </div>


            <div class="row">
                <div class="col-2">
                    Project

                    <button style="margin-left:2em" title="Build"
                            onclick="triggerBuild('@(Model.Job.ProjectId)', '@(Model.Job.SourceCode.FirstOrDefault().Value?.Name)')">
                        <i class="fas fa-hammer"></i>
                    </button>

                </div>
                <div class="col-10">
                    <a class="clean-link" href="/projects/@(Model.Job.ProjectId)/builds">@(Model.Job.ProjectName)</a>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    Version
                </div>
                <div class="col-10">
                    @(Model.Job.Version)
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    Status
                </div>
                <div class="col-10">
                    @Html.Raw(await WebPage.Create(new StatusIconPrinter(), Model.Job.State).Render())
                    @* <printer-status includeDescription="true" state={ opts.model.state }></printer-status> *@
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    Date Started
                </div>
                <div class="col-10">
                    <b>
                        <span class="duration-since">
                            @(Model.Job.DateCreated)
                        </span>
                    </b>
                    took
                    <b>
                        <span class="duration-of">
                            @((Model.Job.DateFinished.GetValueOrDefault(DateTime.UtcNow) - Model.Job.DateCreated).Ticks)
                        </span>
                        <!-- @Model.Job.DateFinished  @Model.Job.DateCreated -->
                        @* <printer-duration start={opts.model.dateCreated} end={opts.model.dateFinished}/> *@
                    </b>
                </div>
            </div>


            <div class="row">
                <div class="col-2">
                    Commits
                </div>
                <div class="col-10">
                    <!--<div style="overflow-y: scroll; max-height:600px; overflow-x: scroll;">-->
                    <!--<virtual each={item in sourceCode()}>-->

                    <!--<debug model={item.commitLogs}></debug>-->

                    <!--</virtual>-->

                    <!--&lt;!&ndash;<code style="white-space: pre"></code>&ndash;&gt;-->
                    <!--</div>-->

                    @foreach (var item in Model.Job?.SourceCode ?? new System.Collections.Generic.Dictionary<Guid, Branch>())
                    {
                        <div>@item.Value.Name</div>
                        <div class="stripedContainer" style="border: dashed darkgrey;">

                            @foreach (var commit in (item.Value?.CommitLogs ?? new CommitLog[0]).TakeAbout(10, 15))
                            {
@*                         <virtual each={commit in item.commitLogs}> *@

                                <div class="row" style="width: 100%;">
                                    <div class="col-3">
                                        @(commit.Author)
                                    </div>
                                    <div class="col-6">
                                        @(commit.Message)
                                    </div>

                                    <div class="col-3">

                                        <span class="duration-since">
                                            @(commit.When)
                                        </span>
                                        @* <printer-duration *@
                                        @*     since={commit.when}> *@
                                        @* </printer-duration> *@
                                    </div>
                                </div>

//                        </virtual>
                            }

                        </div>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    Output
                </div>
                <div class="col-10">
                    <div style="overflow-y: scroll; max-height:600px; overflow-x: scroll;">
                        <code style="white-space: pre" id="outputContainer">@(Model.Job.Output)</code>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    Error
                </div>
                <div class="col-10">
                    <div style="overflow-y: scroll; max-height:600px; overflow-x: scroll;">
                        <code style="white-space: pre" id="errorContainer">@(Model.Job.Error)</code>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-2">
                    Messages
                </div>
                <div class="col-10">
                    @foreach (var message in (Model.Job?.Messages ?? new JobMessage[0]))
                    {
                        <div class="row">
                            <div class="col-2">
                                @message.Phase
                            </div>
                            <div class="col-2">
                                @(message.Message)
                            </div>
                            <div class="col-8">

                                <div style="overflow-y: scroll; max-height:600px; overflow-x: scroll;">
                                    @if (string.IsNullOrWhiteSpace(message.DataText))
                                    {
                                        <code style="white-space: pre" id="classContainer">@(JsonConvert.SerializeObject(message.Data, Formatting.Indented))</code>
                                    }
                                    else
                                    {
                                        <code style="white-space: pre" id="classContainer">@(message.DataText)</code>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
}