@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Dashboard.IndexModel

<div class="grid-container">
    <div class="card full-card">
        <div class="card-body">
            <div class="card-container" style="display: block">
                <div class="full-content">
                    <h3> Dashboard </h3>
                    Panel 1
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-9" style="margin-left: 0; margin-right: 0">
            <div class="card full-card">
                <div class="card-body">
                    <div class="card-container" style="display: block">
                        <div class="full-content">
                            <h3> Dashboard </h3>
                            Hello World!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3" style="margin-left: 0; margin-right: 0">
            <div class="card full-card">
                <div class="card-body">
                    <div class="card-container" style="display: block">
                        <div class="full-content">

                            <h3> Dashboard </h3>
                            Hello World!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>