@model Base2art.Web.Razor.Forms.ViewModels.FormInputs.MultiChooserInputModel


<div class="form-group form-checkboxes">
    
    @if (!string.IsNullOrWhiteSpace(Model.Label))
    {
        <div class="check-list-label form-group-label">@(Model.Label)</div>
    }
    
    @foreach (var option in Model.Options.Select((x, i) => (x,i)))
    {
        <div class="form-check">
            <!-- @(option.x.Value) == @option.x.Key -->
            <input class="form-check-input"
                   disabled="@(Model.IsReadOnly)"
                   style="min-width: auto;"
                   type="checkbox"
                   value="@(option.x.Key)"
                   checked="@(Model.Values.Contains(option.x.Key))"
                   name="@Model.InputName"
                   id="field@(Model.Id)_@(option.i)"/>
            <label class="form-check-label" for="field@(Model.Id)_@(option.i)">@(@option.x.Value)</label>
        </div>
    }
</div>


@*
<div class="form-group">
    
    
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Default checkbox
      </label>
    </div>
    
    <label for="field@(Model.Id)">@Model.Label</label>
    <select name="@Model.InputName"
            multiple="multiple"
            class="form-control"
            id="field@(Model.Id)"
            required="@(Model.Required)"
            disabled="@(Model.IsReadOnly)">
        @foreach (var option in Model.Options.OrderBy(x => x.Value))
        {
            <option selected="@(Model.Values.Contains(option.Key))" value="@(option.Key)">@(@option.Value)</option>
        }
    </select>
</div>
*@
