@model Base2art.Web.Razor.Forms.ViewModels.FormInputs.ChooserInputModel

<div class="form-group">
    <label for="field@(Model.Id)">@Model.Label</label>
    <select name="@Model.InputName"
            class="form-control"
            id="field@(Model.Id)"
            required="@(Model.Required)"
            disabled="@(Model.IsReadOnly)">
        @foreach (var option in Model.Options)
        {
            <option selected="@(Model.Value == option.Key)"  value="@(option.Key)">@(@option.Value)</option>
        }
    </select>
</div>
