@using Newtonsoft.Json
@model Base2art.Web.Razor.Forms.ViewModels.FormInputs.JsonVariableModel

<script type="application/javascript">

(function (winObj){

    var key = "@(string.IsNullOrWhiteSpace(Model.MainName) ? "b2a_data" : Model.MainName)";
    
    winObj[key] = key in winObj ? winObj[key] : {};
    var main = winObj[key]
    
    @if (string.IsNullOrWhiteSpace(Model.ModuleName)) 
    {
        <text>
        main["@(Model.Name)"] = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Value, Formatting.Indented));
        </text>

    }
    else
    {
        <text>
        var moduleName = "@(Model.ModuleName)";
        
        main[moduleName] = moduleName in main ? main[moduleName] : {}; 
        var subMain = main[moduleName];
        
        subMain["@(Model.Name)"] = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Value, Formatting.Indented));
        main[moduleName] = subMain;
        
        </text>
    }
    
    winObj[key] = main;
    
})(window);

</script>