@model Base2art.Web.Razor.Forms.ViewModels.FormInputs.MultiChooserInputModel

<div class="form-group">
    <label for="field@(Model.Id)">@Model.Label</label>
    <select name="@Model.InputName"
            multiple="multiple"
            class="form-control"
            id="field@(Model.Id)"
            required="@(Model.Required)"
            disabled="@(Model.IsReadOnly)">
        @foreach (var option in Model.Options.OrderBy(x => x.Value))
        {
            <option selected="@(Model.Values.Contains(option.Key))" value="@(option.Key)">@(@option.Value)</option>
        }
    </select>
</div>

<script>

$(function (){$("#field@(Model.Id)").multiSelect();});

</script>