@model Base2art.Web.Razor.Forms.ViewModels.FormInputs.ChooserInputModel

<div class="form-group form-radios">
    
    @if (!string.IsNullOrWhiteSpace(Model.Label))
    {
        <div class="radio-list-label form-group-label">@(Model.Label)</div>
    }
    
    @*     <label for="field@(Model.Id)">@Model.Label</label> *@
    @*     <select name="@Model.InputName" *@
    @*             class="form-control" *@
    @*             id="field@(Model.Id)" *@
    @*             required="@(Model.Required)" *@
    @*             disabled="@(Model.IsReadOnly)"> *@
    @*         @foreach (var option in Model.Options) *@
    @*         { *@
    @*             <option selected="@(Model.Value == option.Key)"  value="@(option.Key)">@(@option.Value)</option> *@
    @*         } *@
    @*     </select> *@
    @foreach (var option in Model.Options.Select((x, i) => (x,i)))
    {
        <div class="form-radio">
            <!-- @(Model.Value) == @option.x.Key -->
            <input class="form-radio-input"
                   disabled="@(Model.IsReadOnly)"
                   style="min-width: auto;"
                   type="radio"
                   value="@(option.x.Key)"
                   checked="@(Model.Value == option.x.Key)"
                   name="@Model.InputName"
                   id="field@(Model.Id)_@(option.i)"/>
            <label class="form-check-label" for="field@(Model.Id)_@(option.i)">@(@option.x.Value)</label>
        </div>
@*         <option selected="@(Model.Value == option.x.Key)" value="@(option.x.Key)"> *@
@* *@
@*         </option> *@
    }
    @* <div class="form-check"> *@
    @*     <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2"> *@
    @*     <label class="form-check-label" for="exampleRadios2"> *@
    @*         Second default radio *@
    @*     </label> *@
    @* </div> *@
    @* <div class="form-check disabled"> *@
    @*     <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled> *@
    @*     <label class="form-check-label" for="exampleRadios3"> *@
    @*         Disabled radio *@
    @*     </label> *@
    @* </div> *@
</div>