@using Newtonsoft.Json
@model Base2art.Web.Razor.Forms.ViewModels.FormInputs.ShowHideModel

<div id="showHide@(Model.Id)"></div>
<script>

var setup = function() {
    
    var x = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Formatting.Indented));
    // console.log(x);
    
    var el = document.getElementById("showHide@(Model.Id)");
    showHideForm(el, x);
    
};
$(setup);
</script>

@* <code><pre>@Newtonsoft.Json.JsonConvert.SerializeObject(Model, Formatting.Indented)</pre></code> *@