@model Base2art.Web.Razor.Forms.ViewModels.FormInputs.SubmitModel

@if (!string.IsNullOrWhiteSpace(Model.Value) && !string.IsNullOrWhiteSpace(Model.InputName))
{
    <input type="hidden" name="@Model.InputName" value="@Model.Value"/>
}
<button id="@(Model.Id)" type="submit">@(Model.Label ?? "Submit")</button> 