@model Base2art.Web.Razor.Forms.ViewModels.FormInputs.TextInputModel

<div class="form-group">
    <label for="field@(Model.Id)">@Model.Label</label>
    @if (Model.RowCount <= 1)
    {
        <input type='@(string.IsNullOrWhiteSpace(Model.Type) ? "text" : Model.Type)'
               placeholder="@(Model.Placeholder)"
               value="@(Model.Value)"
               name="@Model.InputName"
               class="form-control"
               id="field@(Model.Id)"
               pattern="@(Model.Pattern)"
               disabled="@(Model.IsReadOnly)"
               required="@(Model.Required)"/>
    }
    else
    {
        <textarea placeholder="@(Model.Placeholder)"
                   name="@Model.InputName"
                   class="form-control" 
                   id="field@(Model.Id)"
                   pattern="@(Model.Pattern)"
                   disabled="@(Model.IsReadOnly)"
                   required="@(Model.Required)"
                   rows="@(Model.RowCount)" >@(Model.Value)</textarea>
    }
</div>

@if (this.Model.Type == "json")
{
    <div id="json_@(Model.Id)">
        
    </div>
    <script>
        
        (function (){
            
            var fieldId = "field@(Model.Id)";
            
            var triggerEvent = function (target) {
                                               
                                               var container = $("#json_@(Model.Id)");
                                               container.html("");
                                               var obj = {};
                                               try { obj = JSON.parse(target.value); } catch (e) { }
                                               
                                               
                                               var keys = Object.keys(obj);
                                               for (var i = 0; i < keys.length; i++) {
                                                   container.append($("<input type='hidden' />").val(obj[keys[i]]).attr("name", "@(Model.InputName)." + keys[i]));
                                               }
                                           };
            
            $("#" + fieldId).change(function(event){triggerEvent(event.target);});
            
            triggerEvent(document.getElementById(fieldId));
            
        })();

    </script>
}

@*
    // var content = b2a_forms.xwwwfurlenc(, "@(Model.InputName).");
    // console.log(content);
    // $(".form-group textarea[name='@(@(Model.InputName))_hidden']", $(formId)).val(content);
    *@ 
@* <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> *@
@* aria-describedby="emailHelp" placeholder="Enter email" *@
@* <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> *@