@model Base2art.Web.Razor.Forms.ViewModels.FormInputs.ValidationSummaryModel

@if (Model.IsValid)
{
@*     <text>Valid</text> *@
}
else
{
    <div class="validation">
        @foreach (var error in (Model.Errors ?? new (string Code, string Message, string Path)[0]).Select((x, i) => (i,x)))
        {
            <text>@error.x.Message</text>
            if (error.i != 0)
            {
                <br/>
            }
        }
    </div>
}