@using Base2art.CiCd.Coordinator.Models
@using Base2art.CiCd.Coordinator.Web.UI
@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Keys.IndexModel

@using (this.Card())
{
    using (var panel = this.PagePanel())
    {
        using (panel.Header())
        {
            <div style='display: grid;grid-template-columns:  auto 15em 15em;'>
                <h3 style='grid-column: 1;'>Key List</h3>
                
                <h3 style='grid-column: 3;'>
                    <a href='/admin/keys/new'>Add <i class='fas fa-plus-circle'></i></a>
                </h3>
            </div>
        }

        using (panel.Body())
        {
            <table>
                <thead>
                <tr>
                    @* <th>Server Type</th> *@
                    <th>Name</th>
                    @* <th>Url</th> *@
                    @* <th>Supported Features</th> *@
                    <th>Enabled</th>

                    @if (Model.DeletionPermissions.mode != PermissionMode.None)
                    {
                        <th>Delete</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var server in Model.Keys)
                {
                    <tr>

                        <td>
                            <a href="/admin/keys/view/@(server.Id)">
                                @(server.Name)
                            </a>
                        </td>
                        @* <td> *@
                        @*     @server.Name *@
                        @* </td> *@
@*                         <td> *@
@*                             @server.Url *@
@*                         </td> *@
@*                         <td> *@
@*                             <ul> *@
@*                                 @foreach (var feature in server.Features.OrderBy(x => x.SimpleName)) *@
@*                                 { *@
@*                                     <li> *@
@*                                         @feature.SimpleName *@
@*                                     </li> *@
@*                                 } *@
@*                             </ul> *@
@*                         </td> *@
                         <td>
                             <input onclick="return false;" type="checkbox" checked="@server.IsActive"/>
                         </td>
                        @if (Model.DeletionPermissions.mode != PermissionMode.None)
                        {
                            <td>
                                @if (Model.UserCanDelete(server.Id))
                                {
                                    <button>
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                }
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        }
    }
}