<add-project>


    <div class="card">
        <div class="card-body">
            <div class="card-container">
                <div class="full-content">
                    <h3 class="card-title">
                        Add Project
                    </h3>
                    
                    <div style="margin-top:20px">

                        <user-form app={app} data="{formData}" ></user-form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        this.formData = {
            title: function(value) {

                if (value == null || value.server == null) {
                    return "Project: Creating...";
                }

                return "Project: " + value.server.name;
            },
            handleSubmit: function (value, app) {
                app.actions.addProject(value);
            },
            fields:[
                {
                    type:"text",
                    placeholder:"",
                    label: "Project Name",
                    key: "name"


                },
                
                {
                    type:"chooser",
                    label: "Versioning Strategy",
                    options: [
                        {
                            label: "Semantic",
                            value: "Semantic",
                            chosen: true,
                            children: ["versioning.data.startingVersion"]
                        },
                        {
                            label: "Date Strategy #1",
                            value: "DateStrategy1",
                            chosen: false,
                            children: ["versioning.data.format"]
                        }

                    ],
                    minimum: 1,
                    maximum: 1,
                    key: "versioning.strategy"
                },

                {
                    type:"text",
                    placeholder:"",
                    value:"yy.MMdd.HHmm.ss",
                    label: "Version format",
                    key:"versioning.data.format"
                },

                {
                    type:"text",
                    placeholder:"",
                    value:"0.0.0.1",
                    label: "Starting Versioning",
                    key:"versioning.data.startingVersion"
                }
            ],
            value:{}
        }


    </script>


</add-project>