<card-nav>


    <div class="card">
        <div class="card-container" style="display:block;">
            <div class="full-content">

                <!--<h1 class="card-title" style="display: inline">-->
                    <!--{ opts.app.navigation.currentPage.title }-->

                <!--</h1>-->
                <!--<h3 class="card-title"></h3>-->

                <div style="margin-top:0px">
                    <div class="row" style="height: 100%">
                        <div class="col-9">
                            <h1 style="display: inline">
                                { opts.app.navigation.currentPage.title }
                            </h1>
    
                            <ul id="horizontal-list">
                                <li each="{ page in app.navigation.routes().filter(whereNoParams).filter(canView).map(toPage)}">
                                    <a onclick={ handleNavigate } href={ page.url }> { page.title } </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-2">
    
                            &nbsp;
                        </div>
                        <div class="col-1">
                            <div class="row">
                                <a onclick={app.actions.signIn} href="javascript:void(0);" if={!app.user.isAuthenticated()}>Sign In</a>
                            </div>
                            <div class="row">
                                <img src="//upload.wikimedia.org/wikipedia/commons/c/c9/SVG_animated_loading_icon.svg"
                                     style="display: inline; height: 70px" if={opts.app.workingState.isBusy}/>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        this.on('mount', function () {
            var x= this;
            app.workingState.registerHandler(function(){
                x.update();
            });
        });
        
        whereNoParams(route)
        {
            return (route.parameters || []).length == 0
        }
        
        canView(route)
        {
            return app.user.isAuthorized(route.requiredRole);
        }

        toPage(route)
        {
            return {
                url: route.url,
                parameters: route.parameters,
                title: route.title
            };

        }
        handleNavigate(e)
        {
            e.preventDefault();
            var page = e.item.page;
            app.navigation.navigate(page.url, {});
        }
    </script>

</card-nav>