<card-projects>

    <div class="card">
        <div class="card-body">
            <div class="card-container">
                <div class="full-content">
                    <h3 class="card-title">
                        Projects 
                        <a style="float: right" if={!add}  onclick={ run } href="javascript:void(0);" >
                            <i class="fas fa-plus-circle"></i>
                            Add Project
                        </a>
                    </h3>
                    
                    <div style="margin-top:20px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <my-projects if={ !add } app="{ opts.app }"></my-projects>

    <add-project if={add} ></add-project>
    
    <script>
        this.add = false;
        
        run(e){
            this.add = !(this.add);
            
            this.update();
            // app.navigation.navigate('/builds', {})
        }
        
    </script>
</card-projects>