<card-jobs>
    <div class="card">
        <div class="card-body">
            <div class="card-container">
                <div class="full-content">
                    <h3 class="card-title">All Builds</h3>
                    <div style="margin-top:20px">
                        <my-jobs app="{ opts.app }"></my-jobs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</card-jobs>