<card-view-build>

    <div class="card">
        <div class="card-body">
            <div class="card-container">
                <div class="full-content">
                    <h3 class="card-title">Build</h3>

                    <div style="margin-top:20px">

                        <div class="container tableContainer" style="width:100%; max-width:unset">
                            <div class="row">
                                <div class="col-2">
                                    Key
                                </div>
                                <div class="col-10">
                                    Value
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-2">
                                    Project
                                </div>
                                <div class="col-10">
                                    {getValue().projectName}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-2">
                                    Version
                                </div>
                                <div class="col-10">
                                    {getValue().version}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-2">
                                    Status
                                </div>
                                <div class="col-10">
                                    <printer-status includeDescription="true" state={ getValue().state }></printer-status>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-2">
                                    Date Started
                                </div>
                                <div class="col-10">
                                    <b><printer-duration since= {getValue().dateCreated} /> </b> 
                                    took
                                    <b><printer-duration start= {getValue().dateCreated} end={getValue().dateFinished} /></b>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-2">
                                    Output
                                </div>
                                <div class="col-10">
                                    <div style="overflow-y: scroll; max-height:600px; overflow-x: scroll;">
                                        <code style="white-space: pre" id="outputContainer">{ getValue().output }</code>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-2">
                                    Error
                                </div>
                                <div class="col-10">
                                    <div style="overflow-y: scroll; max-height:600px; overflow-x: scroll;">
                                        <code style="white-space: pre" id="errorContainer">{ getValue().error }</code>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-2">
                                    Messages
                                </div>
                                <div class="col-10">
                                    <div class="row" each={ message in (getValue().messages || []) }>
                                        <div class="col-2">
                                            {message.phase}
                                        </div>
                                        <div class="col-2">
                                            {message.message}
                                        </div>
                                        <div class="col-8">

                                            <div style="overflow-y: scroll; max-height:600px; overflow-x: scroll;">
                                                <code style="white-space: pre" id="classContainer">
                                                    { JSON.stringify(message.data, null, 2) }
                                                </code>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>


        getLines(messages)
        {
            messages = messages.replace("\r", "\n");
            while (messages.includes("\n\n")) {
                messages = messages.replace("\n\n", "\n");
            }

            var lines = messages.split("\n");
            var newLines = [];
            for (var i = 0; i < lines.length; i++) {
                var line = lines[i];

                if (line.includes(" - {")) {

                    var lineParts = line.split(" - {", 2);
                    var intro = lineParts[0] + " - ";
                    var lineData = "{" + lineParts[1];

                    newLines.push(intro);

                    try {
                        newLines.push(JSON.stringify(JSON.parse(lineData), null, 2));
                        newLines.push("")
                    }
                    catch (err) {
                        newLines.push(lineData);
                    }
                }
                else {
                    newLines.push(line);
                }

            }

            return newLines.join("\n")
        }

        getValue()
        {
            return app.dependencyModel;
            // var items = app.repository.tables.builds.filter(this.match);
            // if (items.length > 0) {
            //     var item = items[0];
            //     return item.value || {output: "", error: "", messages: []};
            //
            // }
        }

        // match(obj)
        // {
        //     var parameters = app.navigation.currentPage.parameters;
        //     return obj.id === parameters.buildId;
        // }

    </script>
</card-view-build>