<dashboard-projects>

    <div class="card" each={ g in groups(app.dependencyModel) }>
        <div class="card-body">
            <div class="card-container">
                <div class="full-content"><h3 class="card-title" style="background-color: #ccccff">{getGroupName(g.item1)}</h3>
                    <div style="margin-top:20px">

                        <div class="">
                            <div class="row">
                                <div class="col-6 card" each={ proj in g.item2 }>
                                    <div style="min-height: 10em;">
                                        <div class="row">
                                            <div style=" display: flex; position: relative; justify-content: center;">

                                                <h4 style="text-align: center;">
                                                    <a if={canViewBuilds()} href="javascript:void(0)" onclick={ viewBuilds }>
                                                        { cleanName(proj.projectData) }
                                                    </a>
                                                    <virtual if={!canViewBuilds(proj.projectData.id)} >
                                                        { cleanName(proj.projectData) }
                                                    </virtual>
                                                </h4>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div style="display: flex; position: relative; justify-content: center; font-size: 4em;">
                                                <printer-status includeDescription="false"
                                                                state={ getStateProject(proj.knownBranches) }></printer-status>
                                            </div>
                                        </div>
                                        <div class="row" if="{proj.knownBranches.length >= 1}">
                                            <div  class="col-12" style=" display: flex; position: relative; justify-content: center;">
                                                
                                                <div class="container stripedContainer" style="width: 95%;">
                                                    <div class="row" each={ branch, index in proj.knownBranches } style="width: 100%;">
                                                        <div class="col-1">
                                                            <printer-status state={ getState(branch.buildData) }>
                                                            </printer-status>
                                                        </div>
                                                        <div class="col-2">
                                                            
                                                            <span style="width:100%;display:inline-block; white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
                                                                {getVersion(branch)}
                                                            </span>
                                                        </div>
                                                        <div class="col-5">
                                                            <span style="width:100%;display:inline-block; white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
                                                                
                                                                {branch.branchData.name}
                                                            </span>
                                                        </div>
                                                        <div class="col-2">
                                                            <span style="width:100%;display:inline-block; white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
                                                                <printer-duration since={ (branch.buildData=== null ?
                                                                              {dateCreated: null} :
                                                                              branch.buildData).dateCreated
                                                                              }></printer-duration>
                                                            </span>
                                                        </div>
                                                        <div class="col-1">
                                                            <button title="Build"
                                                                    if={canCreateBuilds()}
                                                                    onclick="{ () => triggerBuild(proj.projectData.id, branch.branchData.name) }">
                                                                <i class="fas fa-hammer"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        getVersion(b) {
            if (b && b.buildData && b.buildData.version){
                return b.buildData.version;
            }
            
            return "(Unknown)";
        }
        viewBuilds(e)
        {
            app.navigation.navigate("/projects/{projectId}/builds", {projectId: e.item.proj.projectData.id});
        }
        canViewBuilds() {
            return app.user.isAuthorized('Builds:View');
        }
        canCreateBuilds(){
            return app.user.isAuthorized('Builds:Create');
        }
        
        debug(x) {
            
            return JSON.stringify(x, null, "  ");
            
        }
        
        getGroupName(x) {
            return x || "Default Group";
        }

        cleanName(x)
        {
            return x.name.split('/').slice(-1)
        }

        getValues(x)
        {
            return x || [];
        }

        groups(list)
        {
            function groupBy(list, keyGetter) {
                const map = new Map();
                list.forEach((item) => {
                    const key = keyGetter(item);
                    const collection = map.get(key);
                    if (!collection) {
                        map.set(key, [item]);
                    } else {
                        collection.push(item);
                    }
                });
                return map;
            }

            var rez = groupBy(list, function(x){
                
                var name ="";
                if (x != null && x.projectData != null && x.projectData.name != null) {
                    name = x.projectData.name;
                }
                
                return name.split('/').slice(0, -1).join('/');
            });
            var entries = rez.entries();
            var arr = Array.from(entries);
            return arr.map(function (x) {
                return {item1: x[0], item2: x[1]}
            });
        }

        getStateProject(knownBranches)
        {
            // var branches = proj.branches; 
            if (knownBranches == null || knownBranches.length === 0) {
                return this.getState({state: "Working"});
            }

            knownBranches = knownBranches.map(x=>x.buildData).filter(x=>x != null);

            // Unknown, Pending, Claimed, Working, CompletedSuccess, CompletedFail, RunningLong
            var failed = knownBranches.filter(x=>x.state == "CompletedFail");
            if (failed.length >= 1) {
                return this.getState(failed[0]);
            }
            
            var pending = knownBranches.filter(x=>x.state == "Pending" || x.state == "Claimed" || x.state == "Working" || x.state == "RunningLong");
            if (pending.length >= 1) {
                return this.getState(pending[0]);
            }

            if (knownBranches.length >= 1) {
                return this.getState(knownBranches[0]);
            }
            
            return this.getState(null);
        }

        getState(job)
        {
            return (job == null ? {state: 'Unknown'} : job).state;
        }
        
        triggerBuild(projectId, branchName)
        {
            opts.app.actions.build(projectId, branchName);
        }
        
    </script>
</dashboard-projects>
