<edit-project>


    <div class="card">
        <div class="card-body">
            <div class="card-container">
                <div class="full-content">
                    <h3 class="card-title">
                        Project Details
                    </h3>
                    
                    <div style="margin-top:20px">



                        <table>
                            <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                                <!--<tr>-->
                                    <!--<td> DEBUG </td>-->
                                    <!--<td> <pre><code>{debug(opts.app.dependencyModel)} </code></pre></td>-->
                                <!--</tr>-->
                                <tr>
                                    <td> Name </td>
                                    <td> {opts.app.dependencyModel.project.name} </td>
                                </tr>
                                <tr>
                                    <td> IsActive </td>
                                    <td> {opts.app.dependencyModel.project.isActive} </td>
                                </tr>
                                <tr>
                                    <td> Versioning Strategy </td>
                                    <td> {opts.app.dependencyModel.project.versioning.strategy} </td>
                                </tr>
                                <tr>
                                    <td> Versioning data </td>
                                    <td> <pre><code>{debug(opts.app.dependencyModel.project.versioning.data)}</code></pre> </td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td> Debug Data </td>-->
                                    <!--<td> <pre><code>{ debug(opts.app.dependencyModel) }</code></pre> </td>-->
                                <!--</tr>-->
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="card-container">
                <div class="full-content">
                    <h3 class="card-title">
                        Edit Features
                    </h3>
                    
                    <div style="margin-top:20px">

                        <div class="row">

                            <div class="col-6">
                                <h4>Required Features</h4>
                                <ul>

                                    <li each={feature in opts.app.dependencyModel.project.requiredFeatures}>
                                        {feature.simpleName}
                                        
                                        <a onclick={ removeCompilation } href="javascript:void(0);" >
                                            <i class="fas fa-minus-circle"></i>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                            <div class="col-6">
                                <h4>Available Features</h4>
                                <ul>

                                    <li each={feature in features()}>
                                        {feature.simpleName}

                                        <a onclick={ addCompilation } href="javascript:void(0);" >
                                            <i class="fas fa-plus-circle"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="card-container">
                <div class="full-content">
                    <h3 class="card-title">
                        Edit Source Controls
                    </h3>
                    
                    <div style="margin-top:20px">


                        <div class="row">
                            
                            <div class="col-12">
                                <h4>Installed Source Control</h4>
                                <table>
                                    <thead>
                                    <tr>
                                        
                                        <th>Source Control Type</th>
                                        <th>Source Control Data</th>
                                        <th>Build Instructions</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr each={feature in opts.app.dependencyModel.project.sourceControl}>
                                        <td> { featureTypeName(feature.sourceControlType) } </td>
                                        <td> <pre><code>{debug(feature.sourceControlData)}</code></pre> </td>
                                        <td>
                                            <virtual each={bi in feature.buildInstructions}>
                                                <pre><code>$ { bi.executableFile } { printArgs(bi.executableArguments) } </code></pre>
                                                <br />
                                            </virtual>
                                             
                                        </td>

                                        <td>
                                            <a onclick={ removeSourceControl } href="javascript:void(0);" >
                                                <i class="fas fa-minus-circle"></i> Remove
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                    <!--<li >-->
                                        <!--<pre><code>{debug(feature)}</code></pre>-->
                                        
                                    <!--</li>-->

                            </div>
                        </div>


                        <div  class="row">
                            <div class="col-12">
                                <h4>Available Source Control</h4>

                                <user-form app="{app}" data="{sourceControlFeatures()}" ></user-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        featureTypeName(typeId){



            var options = (this.opts.app.dependencyModel.source || []).filter(function(x) { return x.id == typeId; });
            if (options.length !== 1)
            {
                return "Unknown";
                // return typeId;
            }
            
            return options[0].simpleName;
        };
        
        printArgs(args) {
            return (args || []).join(" ");
        }
        
        addCompilation(x) {
            
            this.opts.app.actions.addCompilationFeature(
                this.opts.app.dependencyModel.project.id,
                x.item.feature.id,
                () => this.update());
        }
        
        removeCompilation(x) {

            this.opts.app.actions.removeCompilationFeature(
                this.opts.app.dependencyModel.project.id,
                x.item.feature.id,
                () => this.update());
        }
        
        removeSourceControl(x) {

            this.opts.app.actions.removeSourceControl(
                this.opts.app.dependencyModel.project.id, 
                x.item.feature.id,
                () => this.update());
        }
        
        features()
        {
            var items = (this.opts.app.dependencyModel.compile || []).map(x => x);
            items.sort(function (a, b) {

                var nameA = a.simpleName.toUpperCase(); // ignore upper and lowercase
                var nameB = b.simpleName.toUpperCase(); // ignore upper and lowercase
                if (nameA < nameB) {
                    return -1;
                }
                if (nameA > nameB) {
                    return 1;
                }

                // names must be equal
                return 0;
                
            });
            
            return items;
        }
        
        sourceControlFeatures()
        {
            

            var options = (this.opts.app.dependencyModel.source || []).map(function(x) {return {
                    label: x.simpleName,
                    value: x.id,
                    chosen: false,
                    children: ["data" + x.id]
                };
            });

            var childOptions = (this.opts.app.dependencyModel.source || []).map(function(x) {return {
                    type: "text",
                    multiline: true,
                    value: JSON.stringify(x.defaultData, null, "  "),
                    label: "Source Control Data",
                    key: "data" + x.id
                };
            });
            
            var handle = this;
            
            var fields = [
                {
                    type:"chooser",
                    label: "Source Control Type",
                    options: options,
                    minimum: 1,
                    maximum: 1,
                    key: "sourceControlType"
                },

                {
                    type:"text",
                    placeholder:"pwsh.exe",
                    label: "Executable File",
                    key:"executableFile"
                },
                {
                    type:"text",
                    placeholder:"",
                    multiline: true,
                    label: "Executable Arguments (One Per Line)",
                    key:"executableArguments"
                }

            ];
            
            for (let i = 0; i < childOptions.length; i++) {
                fields.push(childOptions[i]);    
            }
            
            var myValue = {};
            var formData = {
                title: function(value) {

                    if (value == null || value.server == null) {
                        return "Source Control: Adding...";
                    }

                    return "Server: " + value.server.name;
                },
                handleSubmit: function (value, app) {
                    // var content = JSON.stringify(myValue, null, "  ");
                    // console.log(content);
                    // console.log(myValue);
                    
                    app.actions.addSourceControl(
                        app.dependencyModel.project.id,
                        value.sourceControlType,
                        value["data" + myValue.sourceControlType],
                        value.executableFile,
                        value.executableArguments.split(/\r?\n/),
                    );
                    
                    handle.update();
                },
                fields: fields,
                value:myValue
            };
            
            return formData;
        }

        getValue(id)
        {
            return JSON.stringify(this.opts.app.dependencyModel, null, '  ')
        }
        debug(obj)
        {
            return JSON.stringify(obj, null, '  ')
        }
    </script>

</edit-project>