<my-app>

    <card-nav app={app}></card-nav>

    <div id="myAppRouteContainer">

    </div>
    <script>

        this.on('update', function () {
            
            var myAppRouteContainer = document.getElementById("myAppRouteContainer");

            var item = app.navigation.router[app.navigation.currentPage.url];
            if (item != null) {

                while (myAppRouteContainer.firstChild) {

                    if (myAppRouteContainer.firstChild._tag) {
                        myAppRouteContainer.firstChild._tag.unmount();
                    }
                    else {
                        myAppRouteContainer.removeChild(myAppRouteContainer.firstChild);
                    }
                }

                var tag = document.createElement(item.tag);

                myAppRouteContainer.appendChild(tag);
                riot.mount(tag, {app: app});
            }
        });
    </script>
</my-app>