<my-jobs>

    <div style="overflow-x: auto;">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Branch</th>
                <th>Version</th>
                <th>Build Started</th>
                <th>User</th>
                <th>Additional</th>
            </tr>
            </thead>
            <tbody>
            <tr each={ job in getJobs() }>
    
                <td>
                    
                    { project(job).name }
                </td>
                <td>
                    <printer-status includeDescription="true" state={ job.state }></printer-status>
                </td>
                <td> { firstSourceCode(job).name }</td>
                
                <td> { getVersion(job) }</td>
    
    
                <td>
                    <printer-duration since={ job.dateCreated }></printer-duration>
                </td>
    
                <td>
                    {job.originatingUser}
                </td>
                <td >
                    <button if={canViewBuildItems()} onclick="{ () => viewBuild(job.projectId, job.id) }">View</button>
                    <button if={canCreateBuilds()} onclick="{ () => triggerBuild(job.projectId, firstSourceCode(job).name) }">Build</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>


        getVersion(b) {
            // debugger;
            if (b &&  b.version){
                return b.version;
            }

            return "( Unknown )";
        }

        canCreateBuilds(){
            return app.user.isAuthorized('Builds:Create');
        }
        
        canViewBuildItems(){
            return app.user.isAuthorized('BuildItems:View');
        }
        
        debug(x){
            return JSON.stringify(x, null, "  ");
        }
        
        getJobs()
        {
            var j = app.dependencyModel;//.map(function(x) {return {"value":x, "id":x.id} });
            

            j.sort(app.text.stringComparer.ordinalIgnoreCase(x=>x.dateCreated, true));
            return j;
        }

        firstSourceCode(j)
        {
            var sc = j.sourceCode;

            var key = Object.keys(sc)[0];
            return sc[key];
        }

        project(j)
        {
            return {name:j.projectName};
            // var pid = j.value.projectId;
            // var proj = app.repository.tables.projects.filter(x => x.id === pid);
            // return ((proj.length == 0) ? [{value: {}}] : proj)[0].value;
        }

        triggerBuild(projectId, branchName)
        {
            app.actions.build(projectId, branchName);

        }
        viewBuild(projectId, buildId)
        {
            app.navigation.navigate("/projects/{projectId}/builds/{buildId}", {projectId: projectId, buildId: buildId});
        }

    </script>


</my-jobs>
