<my-projects>

    

    <div class="card" each={ g in groups(opts.app.dependencyModel) }>
        <div class="card-body">
            <div class="card-container">
                <div class="full-content"><h3 class="card-title" style="background-color: #ccccff">{getGroupName(g.item1)}</h3>
                    <div style="margin-top:20px">

                        <div class="">
                            <div class="row">
                                <div class="col-3 card" each={ proj in g.item2 }>
                                    <div style="min-height: 10em;">


                                        <div class="row">
                                            <div class="col-6">
                                                <button onclick={ ()=> triggerView(proj.id) }>
                                                    <i class="fas fa-edit"></i>
                                                    <!--<i class="fas fa-code-branch"></i>-->
                                                </button>
                                            </div>
                                            <div class="col-6" style="text-align: right">
                                                <button
                                                        onclick={ ()=> triggerRefresh(proj.id) }>
                                                    <i class="fas fa-sync"></i>
                                                    <i class="fas fa-code-branch"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div style=" display: flex; position: relative; justify-content: center;">

                                                <h4 style="text-align: center;">
                                                    { cleanName(proj) }
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        getGroupName(x) {
            return x || "Default Group";
        }

        cleanName(x)
        {
            return x.name.split('/').slice(-1)
        }

        getValues(x)
        {
            return x || [];
        }

        groups(list)
        {
            function groupBy(list, keyGetter) {
                const map = new Map();
                list.forEach((item) => {
                    const key = keyGetter(item);
                    const collection = map.get(key);
                    if (!collection) {
                        map.set(key, [item]);
                    } else {
                        collection.push(item);
                    }
                });
                return map;
            }

            var rez = groupBy(list, x => x.name.split('/').slice(0, -1).join('/'));
            var entries = rez.entries();
            var arr = Array.from(entries);
            return arr.map(function (x) {
                return {item1: x[0], item2: x[1]}
            });
        }

        getStateProject(proj)
        {
            var branches = proj.branches; 
            if (branches == null || branches.length === 0) {
                return this.getState([{state: "Working"}]);
            }

            branches = branches.filter(x=>(x.jobs || []).length >= 1);
            
            if (branches.length == 1) {
                return this.getState(branches[0].jobs);
            }


            return this.getState([]);
        }

        getState(jobs)
        {
            return (jobs.length === 0 ? [{state: 'Unknown'}] : jobs)[0].state;
        }

        triggerRefresh(projectId)
        {
            opts.app.actions.refreshBranches(projectId);
        }

        triggerView(projectId)
        {
            opts.app.navigation.navigate("/projects/{projectId}/edit", {projectId: projectId});
        }

        triggerBuild(projectId, branchName)
        {
            opts.app.actions.build(projectId, branchName);
        }

        triggerDeactivation(projectId)
        {
            opts.app.actions.deleteProject(projectId);
        }


    </script>
</my-projects>
