<printer-status>

    <span if={ include(opts.includedescription) }>
        { formatState(opts.state) }
        
    </span>


    <i class="fas fa-thumbs-up" if={ isSuccess(opts.state) }></i>
    <i class="fas fa-thumbs-down" if={ isFailed(opts.state) }></i>
    <i class="fas fa-question" if={ isUnknown(opts.state) }></i>
    <i class="fas fa-spinner  fa-spin" if={ isWorking(opts.state) }></i>
    <i class="fas fa-clock" if={ isPending(opts.state) }></i>
    <!--<img -->
    <!--src="//upload.wikimedia.org/wikipedia/commons/c/c9/SVG_animated_loading_icon.svg" -->
    <!--style="width: 32px; height: 32px; vertical-align: middle;"  -->
    <!--if={ isWorking(opts.state) } />-->
    <!---->
    <script>

        isFailed(state)
        {
            return "CompletedFail" === state;
        }
        isSuccess(state)
        {
            return "CompletedSuccess" === state;
        }
        isPending(state)
        {
            return "Pending" === state;
        }
        isWorking(state)
        {
            return " " === state || "Working" === state;
        }
        isUnknown(state)
        {
            return "Unknown" === state;
        }
        include(include)
        {
            return include == "true"
        }


        formatState(state)
        {
            switch (state) {
                case "CompletedFail":
                    return "Failed";
                case "CompletedSuccess":
                    return "Success";
            }

            return state || "Unknown";
        }

    </script>
</printer-status>