<printer-duration>
    <span>
        { formatDate(opts) }
    </span>
    
    <script>
        formatDate(opts)
        {
            if (opts.since) {
                
                var created = moment.utc(opts.since);
                var now = moment.utc();

                return moment.duration(created.diff(now)).humanize(true);
            }

            if (opts.start) {
                var created = moment.utc(opts.start);
                
                var now = moment.utc();

                if (opts.end) {
                    now = moment.utc(opts.end);
                } 
                
                return moment.duration(created.diff(now)).humanize(false);
            }


            return "N/A";
        }
    </script>
</printer-duration>