<server-edit>
    <div class="card">
        <div class="card-body">
            <div class="card-container">
                <div class="full-content">
                    <h3 class="card-title">Add Servers</h3>
                    <div style="margin-top:20px">

                        <user-form app={app} data="{formData}" ></user-form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>


        this.formData = {
            title: function(value) {

                if (value == null || value.server == null) {
                    return "Server: Creating...";
                }

                return "Server: " + value.server.name;
            },
            handleSubmit: function (value, app) {
                
                console.log(JSON.stringify(value, null, "  "));
                app.actions.addServer(value.serverName, value.url, value.enabled.includes("true"), value.serverType);
            },
            fields:[
                {
                    type:"text",
                    placeholder:"Build Server #1",
                    label: "Server Name",
                    key:"serverName"
                    

                },
                {
                    type:"text",
                    placeholder:"https://www.buildserver.com/",
                    label: "Url",
                    key:"url"
                },
                {
                    type:"chooser",
                    options:  [
                        {
                            label: "Enabled",
                            value: true,
                            chosen: true
                        }
                    ],
                    minimum: null,
                    maximum: null,
                    key: "enabled"
                },
                {
                    type:"chooser",
                    label: "Server Type",
                    options: [
                        {
                            label: "Compilation",
                            value: "Compilation",
                            chosen: false
                        },
                        {
                            label: "Source Control",
                            value: "SourceControl",
                            chosen: true
                        }
                        
                    ],
                    minimum: 1,
                    maximum: 1,
                    key: "serverType"
                }
                
            ],
            value:{}
        }
        
        
    </script>

</server-edit>
