<server-list>
    <div class="card">
        <div class="card-body">
            <div class="card-container">
                <div class="full-content">
                    <h3 class="card-title">All Servers</h3>
                    <div style="margin-top:20px">


                        <table>
                            <thead>
                            <tr>
                                <th>Server Type</th>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Supported Features</th>
                                <th>Enabled</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr each={ server in app.dependencyModel }>

                                <td>
                                    { server.serverType }
                                </td>
                                <td>
                                    { server.name }
                                </td>
                                <td>
                                    { server.url }
                                </td>
                                <td>
                                    <ul>
                                        <li each={feature in server.features.concat().sort() }>
                                            {feature.simpleName}
                                        </li>
                                    </ul>
                                </td>
                                <td><input onclick="return false;" type="checkbox" checked={server.enabled}/></td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        get(value)
        {
            return value;
        }
    </script>

</server-list>
