<user-form-field>

    <div if={ isText(opts.field) } class="form-group">
        <label>{opts.field.label}
            <input type="{opts.field.type}"
                   id={ textId() }
                   class="form-control"
                   value={ getTextValue(opts.field) }
                   data-key={ opts.field.key }
                   onkeyup='{ change }'
                   placeholder="{opts.field.placeholder}"/>
        </label>
    </div>

    <div if={ isTextArea(opts.field) } class="form-group">

        <label>{opts.field.label}
            <textarea id={ textId() }
                      class="form-control"
                      onkeyup='{ change }'
                      data-key={ opts.field.key }
                      placeholder="{opts.field.placeholder}">{ getTextValue(opts.field) }</textarea>

        </label>
    </div>
    <div if={ isCheckbox(opts.field) } class="form-group" id={cbParentId()}>
        <virtual each={option in opts.field.options}>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox"
                           id={cbId(option.value) }
                           class="form-check-input"
                           checked="{option.chosen}"
                           onclick={ check }
                           data-key={ opts.field.key }
                           data-value={ option.value }/>
                    {option.label}
                </label>
            </div>
        </virtual>
    </div>
    <div if={ isDropdown(opts.field) }>
        <div class="form-group">
            <label>{opts.field.label}
                <select data-key={ opts.field.key } onchange={ ddlChange } id={ ddlId() }>
                    <option each={option1 in opts.field.options}
                            selected={option1.chosen}
                            value="{option1.value}">
                        {option1.label}
                    </option>
                </select>
            </label>
        </div>

        <virtual each={subItem in this.children}>
            <user-form-field formValue={opts.formvalue} fields={opts.fields} field={getField(subItem)}/>
        </virtual>
    </div>

    <script>

        this.children = [];

        debug(x)
        {
            return JSON.stringify(x, null, "  ");
        }

        getField(key)
        {
            return opts.fields.filter(x => x.key == key)[0];
        }

        getTextValue(theItem)
        {

            var value = opts.formvalue;

            var data = "";
            if (theItem.key in value) {
                data = value[theItem.key];
            }
            else if ("value" in theItem) {
                data = theItem.value;
            }

            return data;
        }
        ;


        triggerEvents(elements, action)
        {
            if (!elements) {
                return;
            }
            for (var i = 0; i < elements.length; i++) {

                var element = elements[i];
                this.triggerEvent(element, action);
            }
        }
        ;
        triggerEvent(element, action)
        {
            if (element) {
                console.log(element);
                action({target: element});
            }
        }
        ;


        // getId(opts)
        // {
        //     if (!("id" in opts)) {
        //         opts["id"] = this.uuid();
        //     }
        //
        //     return opts["id"]
        // }

        isTextBase(item)
        {
            return item.type == 'text' || item.type == 'url';
        }
        isText(item)
        {
            if (this.isTextBase(item)) {
                if ("multiline" in item) {
                    return !(item.multiline);
                }

                return true;
            }

            return false;
        }

        isTextArea(item)
        {
            return this.isTextBase(item) && item.multiline == true;
        }

        isCheckbox(item)
        {
            return item.type == 'chooser' && item.maximum == null && item.minimum == null;
        }

        isDropdown(item)
        {
            return item.type == 'chooser' && item.maximum == 1 && item.maximum == 1;
        }

        uuid()
        {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
            }

            // return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
            return s4() + s4() + s4() + s4() + s4() + s4() + s4() + s4();
        }

        textId()
        {
            return "text" + this.local_id;
        }
        cbId(option)
        {
            return "cb" + this.local_id + "_" + option.value;
        }
        cbParentId()
        {
            return "cb" + this.local_id;
        }
        ddlId()
        {
            return "ddl" + this.local_id;
        }

        setValueForObject(key, value)
        {
            var keys = key.split('.').reverse();

            var target = this.opts.formvalue;

            while (keys.length > 1) {
                var f = keys.pop();
                if (!(f in target)) {
                    target[f] = {};
                }

                target = target[f]
            }

            target[keys.pop()] = value;
        }

        change(e)
        {
            // var thisOpts = this.opts;
            this.setValueForObject(e.target.dataset.key, e.target.value);
            // this.opts.formvalue[e.target.dataset.key] = e.target.value;
        }

        ddlChange(e)
        {

            this.setValueForObject(e.target.dataset.key, e.target.value);
            this.children.length = 0;
            var option = this.opts.field.options.filter(x => x.value == e.target.value)[0];

            if (option.children != null) {
                this.children.push(option.children);
                this.update();
            }
        }

        check(e)
        {
            var key = e.target.dataset.key;
            var value = e.target.dataset.value;
            var array = this.opts.formvalue[key];
            if (array == null) {
                array = [];
            }

            var index = array.indexOf(value);
            if (index > -1) {
                array.splice(index, 1);
            } else {
                array.push(value);
            }

            this.opts.formvalue[key] = array;
        }


        this.on('mount', function () {

            this.triggerEvent(document.getElementById(this.textId()), this.change);
            this.triggerEvent(document.getElementById(this.ddlId()), this.ddlChange);

            var parentEl = document.getElementById(this.cbParentId());
            if (parentEl != null) {
                this.triggerEvents(parentEl.getElementsByTagName("input"), this.check);
            }
        });

        if (this.opts && this.opts.field) {
            if (!("sjy9876786347829429" in this.opts.field)) {
                this.local_id = this.uuid();
                this.opts.field["sjy9876786347829429"] = this.local_id;
            }
        }

    </script>
</user-form-field>