<user-form>

    <form onsubmit={ handleSubmit } >
        <fieldset>
            <legend>{opts.data.title(opts.data.value)}</legend>

            <virtual each={item in getFields(opts.data.fields)}>

                <user-form-field formValue={opts.data.value} fields={opts.data.fields} field={item} />
            </virtual>

            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
    <script>

        getFields(fields) {

            var ar = [];
            for (let i = 0; i < fields.length; i++) {
                var field = fields[i];

                for (let j = 0; j <(field.options || []).length; j++) {
                    var option = field.options[j];
                    for (let k = 0; k < (option.children || []).length; k++) {
                        var child = option.children[k];
                        ar.push(child);
                    }   
                }
            }


            return fields.filter(function(item){
                
                var id = item.key;
                
                 return ar.some(y => y == id) ? false : true;
            });
        }
        
        handleSubmit(x) {
            var app = this.opts.app;
            var localValue = this.opts.data.value;
            var submitter = this.opts.data.handleSubmit;
            submitter(localValue, app);
        }
        
    </script>
</user-form>
