table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ccccff !important;
    color: black;
}

body {
    background-color: #e8e8e8;
    line-height: 1.5;
    color: #203636;
}

.content-wrapper {
    background-color: #e8e8e8;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /*background-color:white;*/
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.card-container {
    display: inline-block;
    width: 100%;
    /*background-color: #FBFBFB;*/
    /*background: #FBFBFB;*/
    zoom: 1; /* new block formatting context via hasLayout for IE 6/7 */
}

/* Should contain all floated and non-floated content, so it needs to
* establish a new block formatting context without using overflow: hidden.
*/

.card-container {
}

.full-content {
    padding: 20px 16px;
    /*float: left;
    width:100%;*/
}


/* Fixed-width floated sidebar. */

.sidebar-left {
    padding: 2px 16px;
}

/* Needs to make space for the sidebar. */

.main {
    /*margin-left: 260px;
    margin-right: 260px;*/
    /*padding-top: 18px;*/
    padding-left: 16px;
    padding-right: 36px;
    padding-bottom: 18px;
}

.sidebar-right {
    padding: 2px 16px;
}

/* Establishes a new block formatting context to insulate descendants from
* the floating sidebar. */

.main-content {
    display: inline-block;
    zoom: 1; /* new block formatting context via hasLayout for IE 6/7 */
}


@media only screen and (min-width: 1px) {
    .card-container {
        background-color: #FBFBFB;
    }
}

@media only screen and (min-width: 768px) {
    .sidebar-left {
        float: left;
        width: 260px;
    }

    .main {
        margin-left: 276px;
        margin-right: 276px;
    }


    .sidebar-right {
        float: right;
        width: 260px;
    }
}


ul.horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul.horizontal-list li {
    display: inline;
    margin-right: 2em;
}


fieldset input {
    display: block;
    width: 100%;
}

fieldset textarea {
    display: block;
    width: 100%;
    /*height: 160px;*/
}

fieldset select {
    display: block;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    fieldset input {
        display: block;
        width: 450px;
    }

    fieldset textarea {
        display: block;
        width: 450px;
    }

    fieldset select {
        display: block;
        width: 450px;
    }
}
/*> div*/
.buildGrid.tableContainer div.col-10 {
    /*max-width: 1200px;*/
    overflow-y: auto;
}

.tableContainer > .row:first-child {
    background-color: #ccccff;
}

.tableContainer > .row:nth-child(2n + 3) {
    background-color: #ddd;
}

.tableContainer > .row:nth-child(2n + 2) {
    background-color: #f2f2f2;
}


.stripedContainer > .stripedContainerRow:nth-child(2n + 2) {
    background-color: #ddd;
}

.stripedContainer > .stripedContainerRow:nth-child(2n + 1) {
    background-color: #f2f2f2;
}



pre {
    /*border: 1px solid black;*/
    background-color: #ffffff;
}

code {
    font-family: monospace;


}


/***** GRID ******/
.content-wrapper {
    display: grid;
    grid-template-columns: 50px 500px auto 400px 50px;
    grid-template-rows: auto auto auto;
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    grid-gap: 1rem;
}


.lo-header-panel {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
}

.lo-main-panel {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
}

.lo-main-panel-c {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
}

.lo-main-panel-r {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
}

.lo-main-panel-l {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
}

.lo-footer-panel {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
}

.lo-left-panel {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.lo-right-panel {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
}

.split-horizontal {
    display: grid; 
    grid-template-columns: 50% 50%;
}


.row {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
}

.col-1{grid-column: span 1;}
.col-2{grid-column: span 2;}
.col-3{grid-column: span 3;}
.col-4{grid-column: span 4;}
.col-5{grid-column: span 5;}
.col-6{grid-column: span 6;}
.col-7{grid-column: span 7;}
.col-8{grid-column: span 8;}
.col-9{grid-column: span 9;}
.col-10{grid-column: span 10;}
.col-11{grid-column: span 11;}
.col-12{grid-column: span 12;}

/***** GRID THEME ******/
/*.build-panel .job-status-description {*/
/*    font-size: x-large;*/
/*}*/

/*.lo-left-panel .build-panel .job-status-icon {*/
.build-panel .job-status-description {
    display:none;
}

/*.build-panel .job-status-icon {*/
/*    display:none;*/
/*    !*font-size: x-large;*!*/
/*}*/

/*.lo-left-panel .build-panel .job-status-icon {*/
/*.lo-left-panel .build-panel .job-status-icon, .lo-right-panel .build-panel .job-status-icon {*/
/*    display:block;*/
/*}*/

/***** Forms ******/

.form-inline {
    display: inline;
}

.form-group {
    margin-bottom: 1rem;
    /*margin-bottom: 10px;*/
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control {
    display: block;
    /*width: 90%;*/
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-check {
    margin-bottom: 10px;
}

.form-check input {
    width: unset;
    display: inline;
}

.form-group select {
    min-width: 325px;
}

.form-group input {
    min-width: 300px;
}
.form-radios.form-group input {
    min-width: auto;
}
.form-radios .form-check {
    margin-bottom: 0;
}

.ms-container {
    width: 475px !important;
}

/******************************/
/******** VALIDATION **********/
/******************************/
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.validation{
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

/*utilities*/
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Style The Dropdown Button */
.dropbtn {
    
    background-color: #ccccff;
    /*background-color: #4CAF50;*/
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #6666ff;
    /*background-color: #3e8e41;*/
}

.project-disabled {
    color: #DCDAD1;
    padding: 2px;
    margin: 0 0 0 0;
    background-image: none;
}

/*********************************/
/*********** TREEVIEW  ***********/
/*********************************/

/* Remove default bullets */
ul.treeview, .treeview ul {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
.treeview {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.branch-node.caret::before {
    content: "\2BC6";
    margin-right: 6px;
}
.leaf-node.caret::before {
    content: "\2BC8";
    margin-right: 3px;
}
.caret::before {
    color: black;
    display: inline-block;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

.clean-link {
   color: unset;
    text-decoration: none;
}

.treeview ul {
    padding-inline-start: 0.8rem;
}

/*
var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
*/