@using Base2art.CiCd.Coordinator.Web.UI.Pages.Controls
@using Base2art.CiCd.Coordinator.Web.UI.ViewModels.Controls
@using Base2art.Web.Pages
@model (Base2art.CiCd.Coordinator.Web.UI.ViewModels.Controls.TreeViewNode[], bool)

@foreach (var item in (Model.Item1 ?? new TreeViewNode[0]).OrderBy(x => x.Name))
{
    <li>
        @if (item?.Children?.Length >= 1)
        {
            <span class="caret branch-node">@item.Name</span>
            <ul class="nested active">
                @Html.Raw(await WebPage.Create(new TreeView(), (item.Children, Model.Item2)).Render())
            </ul>
        }
        else
        {
            <span class="caret leaf-node">
                <a class="clean-link" href="@(item.Href)">@item.Name</a>
            </span>
        }
    </li>
}


@* <li>Water</li> *@
@* <li>Coffee</li> *@
@* <li><span class="caret">Tea</span> *@
@*     <ul class="nested active"> *@
@*         <li>Black Tea</li> *@
@*         <li>White Tea</li> *@
@*         <li><span class="caret">Green Tea</span> *@
@*             <ul class="nested active"> *@
@*                 <li>Sencha</li> *@
@*                 <li>Gyokuro</li> *@
@*                 <li>Matcha</li> *@
@*                 <li>Pi Lo Chun</li> *@
@*             </ul> *@
@*         </li> *@
@*     </ul> *@
@* </li> *@