@using Base2art.CiCd.Coordinator.Models
@using Base2art.CiCd.Coordinator.Web.UI
@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Servers.IndexModel

@using (this.Card())
{
    using (var panel = this.PagePanel())
    {
        using (panel.Header())
        {
            <div style='display: grid;grid-template-columns:  auto 15em 15em; text-align: right'>
                <h3 style='grid-column: 1;text-align: left'>Server List</h3>
                
                <div class="dropdown" style="grid-column: 3;">
                  <button class="dropbtn"><i class="fas fa-bars"></i></button>
                  <div class="dropdown-content" style="right:0;">
                      <a href='#' class="dropdown-item" onclick="apiClient.refreshServers(); return false;">Refresh <i class="fas fa-sync"></i></a>
                      <a href='/admin/servers/new' class="dropdown-item">Add <i class='fas fa-plus-circle'></i></a>
                  </div>
                </div>
                
                @* <h3 style='grid-column: 2;'> *@
                @*     <a href='#' onclick="apiClient.refreshServers(); return false;">Refresh <i class="fas fa-sync"></i></a> *@
                @* </h3> *@
                @* <h3 style='grid-column: 3;'> *@
                @*     <a href='/admin/servers/new'>Add <i class='fas fa-plus-circle'></i></a> *@
                @* </h3> *@
            </div>
@*             @this.ListPageHeader("Server List", "/admin/servers/new") *@
        }

        using (panel.Body())
        {
            <table>
                <thead>
                <tr>
                    <th>Server Type</th>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Supported Features</th>
                    <th>Enabled</th>

                    @if (Model.DeletionPermissions.mode != PermissionMode.None || Model.EditPermissions.mode != PermissionMode.None)
                    {
                        <th style="min-width: 4em;">Actions</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var server in Model.Servers)
                {
                    <tr>

                        <td>
                            @(server.ServerType)
                        </td>
                        <td>
                            <!-- @(server.Id.ToString("D")) -->
                            @server.Name
                        </td>
                        <td>
                            @server.Url
                        </td>
                        <td>
                            <ul>
                                @foreach (var feature in server.Features.OrderBy(x => x.SimpleName))
                                {
                                    <li>
                                        @feature.SimpleName
                                    </li>
                                }
                            </ul>
                        </td>
                        <td>
                            <input onclick="return false;" type="checkbox" checked="@server.Enabled"/>
                        </td>
                        @if (Model.DeletionPermissions.mode != PermissionMode.None)
                        {
                            <td>
                                @if (Model.UserCanEdit(server.Id))
                                {
                                    <form class="form-inline" action="/admin/servers/edit/@(server.Id)">
                                        <button>
                                            <i class="far fa-edit"></i>
                                            @* <i class="far fa-trash-alt"></i> *@
                                        </button>
                                    </form>
                                }
                                
                                @if (Model.UserCanDelete(server.Id))
                                {
                                    <form class="form-inline" method="post" action="/admin/servers/delete/@(server.Id)">
                                    <button>
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                    </form>
                                }
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        }
    }
}