@using Base2art.CiCd.Coordinator.Models
@using Base2art.CiCd.Coordinator.Web.Public.Resources
@using Base2art.CiCd.Coordinator.Web.UI
@using Base2art.CiCd.Coordinator.Web.UI.Pages.Partials
@using Base2art.Web.Pages
@using Base2art.Web.Razor.Forms.Generation
@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Panels.BuildsPanelModel

@{
    var validPanels = (Model.Builds ?? new IJobInfo[0])
//        .Where(x => Model.StatusFilter == null || x.Enabled == Model.StatusFilter.Value)
//        .Where(x => Model.ServerTypeFilter == null || x.ServerType == Model.ServerTypeFilter.Value)
        .ToArray();
    if (validPanels.Length == 0)
    {
        return;
    }
}

@foreach (var job in Model.Builds)
{
    @using (this.Card())
    {
        <div class="build-panel" style="display: grid; grid-template-columns: repeat(12, auto);">

            <div style="grid-column:1; grid-column-end: 11; overflow-x: hidden">
                <div style="font-weight: bold;">
                    @(job.ProjectName)
                </div>
                <div>
                    @(job.Version)
                </div>
                <div>
                    <span class="truncate">@(job.SourceCode.FirstOrDefault().Value?.Name)</span>
                </div>
                <div>

                    <b>
                        <span class="duration-since">
                            @(job.DateCreated)
                        </span>
                        @* <printer-duration since={ job.dateCreated }></printer-duration> *@
                    </b>
                    by
                    @(job.OriginatingUser)
                </div>
            </div>

            <div style="grid-column:11; grid-column-end: 13; text-align: center;">
                @* <printer-status includeDescription="false" state={ }></printer-status> *@
                <div class="job-status-description">
                    @job.State.ToString("G")
                </div>
                <div class="job-status-icon">
                    @Html.Raw(await WebPage.Create(new StatusIconPrinter(), job.State).Render())
                </div>

                <div>
                    @* onclick={ viewBuild } *@
                    <a href="javascript:void(0)">View</a>
                </div>
            </div>

        </div>
    }
}

@* *@
@* @using (this.Card()) *@
@* { *@
@* $1$     @if (!Model.ServerTypeFilter.HasValue) #1# *@
@* $1$     { #1# *@
@*     <h3>Failing Builds</h3> *@
@* $1$     } #1# *@
@* $1$     else #1# *@
@* $1$     { #1# *@
@* $1$         <h3>@(Model.ServerTypeFilter.Value.HumanizeFromCamelCase())Servers</h3> #1# *@
@* $1$     } #1# *@
@*     <ul style="list-style-type: none; padding-left: 1em;"> *@
@*         @foreach (var server in validPanels.Take(Model.MaxRecords ?? 10)) *@
@*         { *@
@*             <li> *@
@*                 <span style="padding-right: 0.5rem;"> *@
@*                     <i class="fas fa-thumbs-down"></i> *@
@*                 </span> *@
@* *@
@*                 <span> *@
@*                     @(server.ProjectName) - @(string.Join(";", server.SourceCode.Values.Select(x => x.Name))) *@
@*                     @(server.DateCreated) *@
@*                 </span> *@
@*             </li> *@
@*         } *@
@*     </ul> *@
@* } *@