@using Base2art.CiCd.Coordinator.Models
@using Base2art.CiCd.Coordinator.Web.Public.Resources
@using Base2art.CiCd.Coordinator.Web.UI
@using Base2art.Web.Razor.Forms.Generation
@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Panels.ServersStatusPanelModel

@{
    var validPanels = (Model.Servers ?? new Server[0])
        .Where(x => Model.StatusFilter == null || x.Enabled == Model.StatusFilter.Value)
        .Where(x => Model.ServerTypeFilter == null || x.ServerType == Model.ServerTypeFilter.Value)
        .ToArray();
    if (validPanels.Length == 0)
    {
        return;
    }
}


@using (this.Card())
{
    @if (!Model.ServerTypeFilter.HasValue)
    {
        <h3>Servers</h3>
    }
    else
    {
        <h3>@(Model.ServerTypeFilter.Value.HumanizeFromCamelCase()) Servers</h3>
    }
    <ul style="list-style-type: none; padding-left: 1em;">
        @foreach (var server in validPanels.OrderBy(x => x.Enabled).ThenBy(x => x.Name).Take(Model.MaxRecords ?? 10))
        {
            <li>
                <span style="padding-right: 0.5rem;">
                    @if (server.Enabled)
                    {
                        <i class="fas fa-thumbs-up"></i>
                    }
                    else
                    {
                        <i class="fas fa-thumbs-down"></i>
                    }
                </span>

                <span>
                    @(server.Name)
                </span>
            </li>
        }
    </ul>
}