@using Base2art.CiCd.Coordinator.Web.UI.Pages.Partials
@using Base2art.Web.Pages
@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Partials.BranchDataModel

<div class="col-12"
     style=" display: flex; position: relative; justify-content: center;">

    <div class="container stripedContainer" style="width: 95%; padding-bottom: 1em;">
        @foreach (var (branch, index) in Model.KnownBranches.Select((i, x) => (i,x)))
        {
    @*                                                 <virtual each={ branch, index in proj.knownBranches }> *@
            <div class="stripedContainerRow" style="width: 100%; display:grid; grid-template-columns: repeat(12, 8.33%);">
                <div style="grid-column: 1">
                    @Html.Raw((await WebPage.Create(new StatusIconPrinter(), branch?.BuildData?.State).Render()))
                    @* Unknown *@
                    @* <printer-status state={ getState(branch.buildData) }> *@
                    @* </printer-status> *@
                </div>
                <div style="grid-column: 2; grid-column-end: 5">

                    <span style="width:100%;display:inline-block; white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
                        @(branch?.BuildData?.Version ?? "(Unknown)")
                    </span>
                </div>
                <div style="grid-column: 5; grid-column-end: 9">
                    <span style="width:100%;display:inline-block; white-space: nowrap;overflow: hidden;text-overflow: ellipsis">

                        @(branch?.BranchData?.Name)
                    </span>
                </div>
                <div style="grid-column: 9; grid-column-end: 11">
                    <span style="width:100%;display:inline-block; white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
                        <span class="duration-since">@(branch?.BuildData?.DateCreated)</span>
                        @* <printer-duration since={ (branch.buildData=== null *@
                        @*                   ? *@
                        @*                   {dateCreated: null} : *@
                        @*                   branch.buildData).dateCreated *@
                        @*                   }> *@
                        @* </printer-duration> *@
                    </span>
                </div>
                <div style="grid-column: 11; grid-column-end: 12">
                    @if (Model.CanCreateBuilds())
                    {
                        
                        <button onclick="return triggerBuild('@(Model.proj.Id)', '@branch?.BranchData?.Name')" disabled="@(!Model.proj.IsActive)" title="Build">
                            <i class="fas fa-hammer"></i>
                        </button>
                    }
                </div>
                <div style="grid-column: 12; grid-column-end: 13">
                    @* { ()=> *@
                    @*                                                     toggleLog(proj.projectData.id, *@
                    @*                                                     branch.branchData.name) } *@
                    @if (Model.CanCreateBuilds())
                    {
                        <button title="Show Logs" onclick="showLog('@(Model.proj.Id.ToString("N"))', @(index))">
                            @* <i class="fab fa-pied-piper-alt"></i> *@
                            <i class="far fa-list-alt"></i>
                        </button>
                    }
                </div>
            </div>
        }

        @foreach (var (branch, index) in Model.KnownBranches.Select((i, x) => (i,x)))
        {
    @*                                                 <virtual each={ branch, index in proj.knownBranches }> *@
            //                                            if={canShowLog(proj.projectData.id, branch.branchData.name)}
            <div class="row log-@(Model.proj.Id.ToString("N")) log-@(Model.proj.Id.ToString("N"))-@(index)" style="width: 100%; display: none;">
                <div class="col-12">
                    <!--container-->
                    <div class="stripedContainer" style="border: dashed darkgrey;">

                        @foreach (var commit in branch.BranchData.CommitLogs)
                        {
                            <div class="row" style="width: 100%;">
                                <div class="col-3">
                                    @(commit.Author)
                                </div>
                                <div class="col-6">
                                    @(commit.Message)
                                </div>

                                <div class="col-3">
                                    <span class="duration-since">@(commit.When)</span>
                                </div>
                            </div>
                        }
                    </div>
                    <!--<printer-status state={ getState(branch.buildData) }>-->
                    <!--</printer-status>-->
                </div>
            </div>
            //                                                </virtual>
        }
    </div>
</div>

<script type="text/javascript">

if (!("showLog" in window)) {
    
     window["showLog"] = function(projId, idx){
        var $el = $(".log-" + projId+ "-" + idx); 
        var isHidden = $el.css('display') == 'none'; 
        
        $(".log-" + projId).hide();
        if (isHidden) {
            $el.show();
        }
    }
}

</script>