@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Partials.FooterModel

<div class="card">
    <div class="card-container" style="display:block;">
        <div class="full-content">
            <div>
                <footer class="page-footer font-small blue">
                    <div class="footer-copyright text-center py-3" style="text-align: center!important;">&copy; @(DateTime.UtcNow.ToString("yyyy")) Copyright: <a href="//@(Model?.CompanyUrl)/"> @(Model?.CompanyName ?? "Base2art")</a> </div>
                </footer>
            </div>
        </div>
    </div>
</div>