@using Base2art.CiCd.Coordinator.Web.UI
@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Partials.HeaderModel

<div class="card">
    <div class="card-container" style="display:block;">
        <div class="full-content">
            <div style="display: grid;grid-template-columns: repeat(12, 8.33%)">
                <div style="grid-column: span 11">
                    @* <application-header> *@
                    @* <div style="margin-top:0px"> *@
                    @* <page-title> *@
                    <h1 style="display: inline"> Home </h1>
                    @* </page-title> <is-working></is-working> *@
                    @* <main-navigation horizontal="true"> *@
                    <ul class="horizontal-list">
                        <li>
                            <a class="clean-link" href="/dashboard">Dashboard</a>
                        </li>
                        @if (Model.Role == Role.Admin)
                        {
                            <li>
                                <a class="clean-link" href="/admin/projects">Projects</a>
                            </li>
                        }
                        <li>
                            <a class="clean-link"  href="/builds">Builds</a>
                        </li>
                        @if (Model.Role == Role.Admin)
                        {
                            <li>
                                <a class="clean-link" href="/admin/keys">Keys</a>
                            </li>
                            <li>
                                <a class="clean-link" href="/admin/servers">Servers</a>
                            </li>
                            <li>
                                <a class="clean-link" href="/swagger/" target="_blank">Swagger</a>
                            </li>
                        }
                    </ul>
                    @* </main-navigation> *@
                </div>
                <div style="text-align: right; padding-right: 2em;">


                    @if (Model.Role == Role.Anonymous)
                    {
                        <div>
                            <a class="clean-link" href="/auth/sign-in" style="color: black">Sign In</a>
                        </div>
                    }
                    else
                    {
@*                         <a href="/auth/sign-out" style="color: black">Sign Out</a> *@
                    }


                    <div class="mailBoxContainer tooltip" style="padding-top:16px;">
                        <a href="/builds" style="font-size: xx-large;color: darkslategray;">
                            <i class="fas fa-inbox"></i>
                        </a>
                        @if (Model.Messages != null && Model.Messages.Length > 0)
                        {
                            <a class="top-right" style="color: lightblue;" href="/builds">
                                @(Model?.Messages?.Length)
                            </a>
                        }
                        <span class="tooltiptext tooltip-bottom">

                            @if (Model.Messages == null || Model.Messages.Length == 0)
                            {
                                <text>Nothing to see here</text>
                            }
                            else
                            {
                                @foreach (var message in Model.Messages)
                                {
                                    <text>@(message.Text)</text><br/>
                                }
                            }
                        </span>


                        @* <span class="tooltiptext tooltip-bottom"> Nothing to see here </span> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

        .mailBoxContainer {

            position: relative;
            text-align: center;
            color: white;
        }

        .mailBoxContainer a {
            text-decoration: none;
            font-size: xx-large;
        }

        .mailBoxContainer .top-right {
            position: absolute;
            top: 0px;
            /*left: 5px;*/
        }

        
        /* ********** */

        .tooltip {
            position: relative;
            /*display: inline-block;*/
            /*border-bottom: 1px dotted #ccc;*/
            color: #006080;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            position: absolute;
            /* HERE */
            min-width: 125px;
            background-color: #555;
            color: #fff;
            text-align: left;
            border-radius: 6px;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s;
            padding: 5px 0 5px 5px;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        .tooltip-bottom {
            top: 135%;
            right: -30px;
            /* HERE HALD */
            /*margin-left: -190px;*/
        }

        .tooltip-bottom::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #555 transparent;
        }
        
    </style>
@*
<mail-box>
    <div class="mailBoxContainer tooltip" style="padding-top:16px;">
        <a href="javascript:void(0);">
            <i class="fas fa-inbox"></i>
        </a>

        <a if={ opts.model.length !=0} class="top-right" style="color: lightblue;" href="javascript:void(0);">
            {opts.model.length}
        </a>

        <span class="tooltiptext tooltip-bottom">
            
            <virtual if={ opts.model.length == 0}>
                Nothing to see here
            </virtual>
            
            <virtual each={message in opts.model}>
                
                {message.text}
                <br />
                
            </virtual>
            
        </span>
        
    </div>


</mail-box>

*@