@using Base2art.CiCd.Coordinator.Models
@model Base2art.CiCd.Coordinator.Models.JobState?


@if (Model == JobState.CompletedSuccess)
{
    <i class="fas fa-thumbs-up"></i>
}
else if (Model == JobState.CompletedFail)
{
    <i class="fas fa-thumbs-down"></i>
}
else if (Model == JobState.Unknown)
{
    <i class="fas fa-question"></i>
}
else if (Model == JobState.Pending)
{
    <i class="fas fa-clock"></i>
}
else if (Model == JobState.Working)
{
    <i class="fas fa-atom fa-spin"></i>
}
else
{
    <i class="fas fa-question"></i>
}



@*

    <i class="fas fa-thumbs-up" if={ isSuccess(opts.state) }></i>
    <i class="fas fa-thumbs-down" if={ isFailed(opts.state) }></i>
    <i class="fas fa-question" if={ isUnknown(opts.state) }></i>
    <i class="fas fa-spinner  fa-spin" if={ isWorking(opts.state) }></i>
    <i class="fas fa-clock" if={ isPending(opts.state) }></i>

*@

@* @(Model == null ? "Unknown" : Model?.ToString("G")) *@