<div class="card full-card">
    <div class="card-body">
        <div class="card-container" style="display: block">
            <div class="full-content">
                <h3> TestPanel</h3>
                
            </div>
        </div>
    </div>
</div>