@using Base2art.CiCd.Coordinator.Web.UI
@using Base2art.CiCd.Coordinator.Web.UI.Pages.Controls
@using Base2art.CiCd.Coordinator.Web.UI.ViewModels.Controls
@using Base2art.Web.Pages
@model (Base2art.CiCd.Coordinator.Web.UI.ViewModels.Controls.TreeViewNode[], bool)

@using (this.Card())
{
    using (var panel = this.PagePanel())
    {
        using (panel.Header())
        {
            <h3 style='grid-column: 1;text-align: left'>Project Groups</h3>
        }
        using (panel.Body())
        {
            <ul class="treeview">
                @Html.Raw(await WebPage.Create(new TreeView(), (Model.Item1, true)).Render())
                @* @foreach(var item in Model.Groups()) *@

            </ul>
        }
    }
}