@using Base2art.CiCd.Coordinator.Web.UI.Pages.Builds
@using Base2art.CiCd.Coordinator.Web.UI.Pages.Partials
@using Base2art.CiCd.Coordinator.Web.UI.ViewModels
@using Base2art.Web.Pages
@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.LayoutModel


<!doctype html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(Model.Title ?? "Build Manager")</title>
    <link rel="shortcut icon" href="/images/favicon.png"/>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii"/>

    <link rel="stylesheet" type="text/css" href="/styles/simple-theme.css"/>

    <script src="/3rd-party/jquery/3.1.1/jquery.min.js"></script>
    <script src="/scripts/api-client.js"></script>
    <script src="/scripts/page-content.js"></script>
    
    <script src="/3rd-party/moment.js/2.22.2/moment-with-locales.min.js"></script>


    <link rel="stylesheet" href="/3rd-party/font-awesome/v5.6.3/css/all.min.css"
          crossorigin="anonymous">
    <link href="/3rd-party/jquery/plugins/multi-select/css/multi-select.dist.css" media="screen" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->

</head>


<body>
<div class="content-wrapper">
    <div class="lo-header-panel">
        @Html.Raw(await WebPage.Create(new Header(), Model.HeaderData).Render())
    </div>
    @if (Model.Mode == LayoutMode.Wide)
    {
        <div class="lo-main-panel">
            @if (Model.MainPanel != null)
            {
                @Html.Raw(await (await (Model.MainPanel)).Render())
            }
        </div>
    }
    else if (Model.Mode == LayoutMode.Left)
    {
        <div class="lo-main-panel-l">
            @Html.Raw(await (await (Model.MainPanel)).Render())
        </div>
        <div class="lo-right-panel">
            @foreach (var panel in Model.RightPanels)
            {
                @Html.Raw(await (await (panel)).Render())
            }
        </div>
    }
    else if (Model.Mode == LayoutMode.Right)
    {
        <div class="lo-main-panel-r">
                @Html.Raw(await (await (Model.MainPanel)).Render())
        </div>
        <div class="lo-left-panel">
            @foreach (var panel in Model.LeftPanels)
            {
                @Html.Raw(await (await (panel)).Render())
            }
        </div>
    }
    else if (Model.Mode == LayoutMode.Center)
    {
        <div class="lo-main-panel-c">
            @Html.Raw(await (await (Model.MainPanel)).Render())
        </div>
        <div class="lo-left-panel">
            @foreach (var panel in Model.LeftPanels)
            {
                @Html.Raw(await (await (panel)).Render())
            }
        </div>
        <div class="lo-right-panel">
            @foreach (var panel in Model.RightPanels)
            {
                @Html.Raw(await (await (panel)).Render())
            }
        </div>
    }
    else
    {
        <div class="lo-main-panel">
        </div>
    }

    <div class="lo-footer-panel">
        @Html.Raw(await WebPage.Create(new Footer(), Model.FooterData).Render())
    </div>
</div>


    <script src="/3rd-party/jquery/plugins/multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

<script>
var apiClient = apiClientFactory.apiClient(
    function(){/*app.workingState.setIsBusy(true);*/},
    function(){/*app.workingState.setIsBusy(false);*/});


function triggerRefresh(projectId){
    if  (confirm(`refreshing ${projectId}}`)) {
        apiClient.triggerBranchRefresh(projectId, function(){
                alert("build triggered.")
            });
    }
    
    return false;
}
function triggerBuild(projectId, branchName){
    if  (confirm(`building ${projectId} ${branchName}`)) {
        apiClient.triggerBuild(projectId, branchName, function(){
                alert("build triggered.")
            });
    }
    
    return false;
}
function triggerBuildJob(job){
    
    var firstSourceCode = function (j) {
        var sc = j.sourceCode;

        var key = Object.keys(sc)[0];
        return sc[key];
    }
    return triggerBuild(job.projectId, firstSourceCode(job));
    // alert("building");
    // apiClient.triggerBuild(job.projectId, branchName, function(){
    //     alert("build triggered.")
    // });
}
    $(function () {
        $(".duration-since").each(function(i,x){
                    
                    //debugger;
                    var content = $(x).text();
                    // opts.start
                    var created = moment.utc(content);
        
                    var now = moment.utc();
        
                    // if (opts.end) {
                    //     now = moment.utc(opts.end);
                    // }
                    var inter = created.diff(now);
                    if (isNaN(inter)) {
                        return;        
                    }
                    
                    var output = moment.duration(inter).humanize(false);
                    $(x).attr("title", content).text(output);
                    
                });
        
        $(".duration-of").each(function(i,x){
                    
                    //debugger;
                    var content = $(x).text();
                    // opts.start
                    
                    var output = moment.duration(parseInt(content) / 10000).humanize(false);
                    $(x).attr("title", content).text(output);
                });
        
        
        
        // duration-since
        //b2a_auth_startup(function () {
        // app.commands.loadJobs(null, null, 0, 10);
        // app.commands.loadProjects();
        // app.commands.loadServers();
        //});
    });

</script>
</body>
</html>