@using Base2art.CiCd.Coordinator.Models
@using Base2art.CiCd.Coordinator.Web.Public.Resources
@using Base2art.CiCd.Coordinator.Web.UI
@using Base2art.Web.Razor.Forms
@using Newtonsoft.Json
@using System.Collections.Generic

@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Projects.EditModel

<script type="application/javascript">

window["mainObj"] = "mainObj" in window ? window["mainObj"] : {};
var main = window["mainObj"];
main = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Formatting.Indented));

</script>

@using (this.Card())
{
    using (var panel = this.PagePanel())
    {
        using (panel.Header())
        {
            @this.ListPageHeader("Manage Project")
        }

        using (panel.Body())
        {
            @using (var form = this.Form())
            {
                @using (this.Fieldset("Project: Creating..."))
                {
@*                 @await form.ValidationSummary(Model.Data).WithErrors(Model.Errors.Select((x => (x.Code, x.Message, x.Path))).ToArray()).Build() *@
                    @(await form.TextInput(Model.Data)
                                 .For(x => x.Name)
                                 .WithLabel("Project Name")
                                 .ReadOnly((Model?.Data?.Id).GetValueOrDefault() != Guid.Empty)
                                 .Required()
                                 .Build())

                    @(await form.ChooserInput(Model.Data)
                                 .For(x => x.Versioning.Strategy)
                                 .WithLabel("Versioning Strategy")
                                 .ReadOnly((Model?.Data?.Id).GetValueOrDefault() != Guid.Empty)
                                 .Required()
                                 .Build())

                    @(await form.TextInput(Model.Data).For(x => x.Versioning.Data["format"])
                                 .WithDefaultValue("yy.MMdd.HHmm.ss")
                                 .WithLabel("Versioning format")
                                 .ReadOnly((Model?.Data?.Id).GetValueOrDefault() != Guid.Empty)
                                 .Required()
                                 .Build())

                    @(await form.TextInput(Model.Data).For(x => x.Versioning.Data["startingVersion"])
                                 .WithDefaultValue("0.0.0.1")
                                 .WithLabel("Seed Version")
                                 .ReadOnly((Model?.Data?.Id).GetValueOrDefault() != Guid.Empty)
                                 .Required()
                                 .Build())

                    @(await form.ShowHide(Model.Data).For(x => x.Versioning.Strategy)
                                 .When(VersioningStrategy.Semantic)
                                 .Show(x => x.Versioning.Data["startingVersion"])
                                 .When(VersioningStrategy.DateStrategy1)
                                 .Show(x => x.Versioning.Data["format"])
                                 .Build())

                    @if ((Model?.Data?.Id).GetValueOrDefault() == Guid.Empty)
                    {
                        @await form.Submit(Model.Data).For(x => x.Id).Build()
                    }
                }
            }

            @if ((Model?.Data?.Id).GetValueOrDefault() != Guid.Empty)
            {
                @using (var form = this.Form())
                {
                    @using (this.Fieldset("Configure Features"))
                    {
                        @(await form.ChooserInput(Model.Data)
                                     .For(x => x.RequiredFeatureIds)
                                     .WithOptions(Model.AvailableFeatures.Select(x => new KeyValuePair<string, string>(x.Id.ToString("N"), x.SimpleName)).ToArray())
                                    // .Required()
                                     .Build())

                        @await form.Submit(Model.Data).For(x => x.Id).Build()
                    }
                }
                
                <a href="/admin/projects/edit/@(Model?.Data?.Id)/source">
                    Add New Source Control
                </a>
                <table style="width:100%">
                    <caption>Source Control</caption>
                    <tr>
                        <th>Type</th>
                        <th>Source Code Data</th>
                        <th>Build Instructions</th>
                    </tr>
                    @foreach (var item in Model?.Data?.SourceControl ?? new SourceControl[0])
                    {
                        <tr>
                            <td>
                                <a href="/admin/projects/edit/@(Model?.Data?.Id)/source/@(item.Id)">
                                    @Model.SourceControlTypes.FirstOrDefault(x => x.Key == item.SourceControlType.ToString("D")).Value
                                </a>
                            </td>
                            <td>
                                <pre><code>@JsonConvert.SerializeObject(item.SourceControlData, Formatting.Indented)</code></pre>
                            </td>
                            <td>
                                <pre><code>@JsonConvert.SerializeObject(item.BuildInstructions, Formatting.Indented)</code></pre>
                            </td>
                        </tr>
                    }
                </table>
            }
        }
    }
}


@*                     @(await form.TextInput(model).For(x => x.Instructions[0].ExecutableArguments) *@
@*                                  .WithLabel("Executable Arguments (One Per Line)") *@
@*                                  .MultiLine(4) *@
@*                                  .Required() *@
@*                                  .Build()) *@

@*                     @await form.ChooserInput(Model.Data).For(x => x.Versioning.Strategy).Minimum(1).Maximum(1).WithLabel("Versioning Strategy").Required().Build() *@

@*                     @(await form.TextInput(Model.Data).For(x => x.Versioning.Data["format"]) *@
@*                                  .WithValue("yy.MMdd.HHmm.ss") *@
@*                                  .WithLabel("Versioning format") *@
@*                                  .Required() *@
@*                                  .Build()) *@
@* *@
@*                     @(await form.TextInput(Model.Data).For(x => x.Versioning.Data["startingVersion"]) *@
@*                                  .WithValue("0.0.0.1") *@
@*                                  .WithLabel("Seed Version") *@
@*                                  .Required() *@
@*                                  .Build()) *@

@*                     @(await form.ShowHide(Model.Data).For(x => x.Versioning.Strategy) *@
@*                                  .When(VersioningStrategy.Semantic) *@
@*                                  .Show(x => x.Versioning.Data["startingVersion"]) *@
@*                                  .When(VersioningStrategy.DateStrategy1) *@
@*                                  .Show(x => x.Versioning.Data["format"]) *@
@*                                  .Build()) *@
@*                 @await form.TextInput(Model.Data).For(x => x.Versioning).Required().Build() *@
@*                 @await form.TextInput(Model.Data).For(x => x.RequiredFeatures).Required().Build() *@
@*                 @await form.TextInput(Model.Data).For(x => x.SourceControl).Required().Build() *@
@*                 @await form.ChooserInput(Model.Data).For(x => x.ServerType).Readonly(Model.Data.Id != Guid.Empty).Required().Build() *@
@*                 @await form.ChooserInput(Model.Data).For(x => x.AuthenticationKeyId).WithOptions(Model.Keys).Build() *@