@using Base2art.CiCd.Coordinator.Models
@using Base2art.CiCd.Coordinator.Web.Public.Resources
@using Base2art.CiCd.Coordinator.Web.UI
@using Base2art.CiCd.Coordinator.Web.UI.Pages.Controls
@using Base2art.CiCd.Coordinator.Web.UI.Pages.Partials
@using Base2art.CiCd.Coordinator.Web.UI.ViewModels.Partials
@using Base2art.Web.Pages
@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Projects.IndexModel

<div style="display: grid; grid-template-columns: 300px; auto">

    <div>
        @using (this.Card())
        {
            using (var panel = this.PagePanel())
            {
                using (panel.Header())
                {
                    <h3 style='grid-column: 1;text-align: left'>Project Groups</h3>
                }
                using (panel.Body())
                {
                    <ul class="treeview">
                        @Html.Raw(await WebPage.Create(new TreeView(), (Model.Groups().ToArray(), false)).Render())
                        @* @foreach(var item in Model.Groups()) *@

                    </ul>
                }
            }
        }
    </div>
    <div style="grid-column: 2">

        @using (this.Card())
        {
            using (var panel = this.PagePanel())
            {
                using (panel.Header())
                {
                    <div style='display: grid;grid-template-columns:  auto 15em 15em; text-align: right'>
                        <h3 style='grid-column: 1;text-align: left'>Manage Projects</h3>

                        <div class="dropdown" style="grid-column: 3;">
                            <button class="dropbtn">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="dropdown-content" style="right:0;">
                                @* <a href='#' class="dropdown-item" onclick="apiClient.refreshServers(); return false;">Refresh <i class="fas fa-sync"></i></a> *@
                                <a href='/admin/projects/new' class="dropdown-item">Add <i class='fas fa-plus-circle'></i></a>
                            </div>
                        </div>

                        @* <h3 style='grid-column: 2;'> *@
                        @*     <a href='#' onclick="apiClient.refreshServers(); return false;">Refresh <i class="fas fa-sync"></i></a> *@
                        @* </h3> *@
                        @* <h3 style='grid-column: 3;'> *@
                        @*     <a href='/admin/servers/new'>Add <i class='fas fa-plus-circle'></i></a> *@
                        @* </h3> *@
                    </div>
@*             @this.ListPageHeader("Server List", "/admin/servers/new") *@
                }
            }
@*     using (var panel = this.PagePanel()) *@
@*     { *@
@*         using (panel.Header()) *@
@*         { *@
@*             @this.ListPageHeader("Manage Projects") *@
@*         } *@
@*     } *@
        }

        @foreach (var item in Model.Projects.Select(x => (Model.GroupName(x), x))
                                   .Select(x => (path: x.Item1.Item1,keys: x.Item1.Item2, project:x.Item2))
                                   .GroupBy(x => x.path)
                                   .OrderBy(x => x.Key, StringComparer.OrdinalIgnoreCase)
                                   .Select(x => x))
        {
            // var item = grouping;
            //
            <div id="@(string.Join("_", item.FirstOrDefault().keys))">
                @using (this.Card())
                {
                    <h3 class="card-title" style="background-color: #ccccff">@(item.Key)</h3>
                    <div style="margin-top:20px">

                        <div style="display: grid; grid-template-columns: 50% 50%">
                            @foreach (var proj in item.OrderByDescending(x => x.project.ProjectData.IsActive.ToString())
                                                      .ThenBy(x => Model.CleanName(x.project)))
                            {
                                <div class="card @(!proj.project.ProjectData.IsActive ? "project-disabled" : "")">
                                    <div style="min-height: 10em; grid-template-columns: auto;margin-top: 1em;margin-bottom: 1em;display: grid; grid-row-gap: 1em;">
                                        <div style="grid-row: 1;padding-left:1em;padding-right:1em;" class="split-horizontal">
                                            <div>
                                                <form action="/admin/projects/edit/@(proj.project.ProjectData.Id)">
                                                    <button>
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                </form>
                                            </div>
                                            <div style="text-align: right">
                                                <button disabled="@(!proj.project.ProjectData.IsActive)"  onclick="return triggerRefresh('@(proj.project.ProjectData.Id)')">
                                                    <i class="fas fa-sync"></i>
                                                    <i class="fas fa-code-branch"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div style="grid-row: 2">
                                            <div style="display: flex; position: relative; justify-content: center;">

                                                <h4 style="text-align: center;margin-top: 0; margin-bottom: 0;">
                                                    @* /projects/{projectId}/builds *@
                                                    <a class="clean-link" href="/projects/@(proj.project.ProjectData.Id)/builds">
                                                        @(Model.CleanName(proj.project))
                                                    </a>
                                                </h4>

                                            </div>

                                        </div>
                                        <div style="grid-row: 3">
                                            <div style="display: flex; position: relative; justify-content: center; font-size: 4em;">

                                                @Html.Raw((await WebPage.Create(new StatusIconPrinter(), Model.GetProjectState(proj.project.KnownBranches ?? new BranchRequisition[0])).Render()))
                                                @* <printer-status includeDescription="false" *@
                                                @*                 state={ getStateProject(proj.knownBranches) *@
                                                @*                 }> *@
                                                @* //                                    </printer-status> *@
                                            </div>
                                        </div>

                                        @if (proj.project.KnownBranches.Length > 0)
                                        {
                                            //                                if="{proj.knownBranches.length >= 1}
                                            <div style="grid-row: 4">
                                                @Html.Raw(await WebPage.Create(new BranchData(), new BranchDataModel
                                                                                                 {
                                                                                                     proj = proj.project.ProjectData,
                                                                                                     KnownBranches = proj.project.KnownBranches,
                                                                                                     Principal = Model.Principal
                                                                                                 }).Render())
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>

</div>