@using Base2art.CiCd.Coordinator.Models
@using Base2art.CiCd.Coordinator.Web.Public.Resources
@using Base2art.CiCd.Coordinator.Web.UI
@using Base2art.Web.Razor.Forms
@using System.Collections.Generic
@using Base2art.Web.Razor.Forms.Generation
@using Newtonsoft.Json

@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Projects.SourceEditModel

<script type="application/javascript">

window["mainObj"] = "mainObj" in window ? window["mainObj"] : {};
var main = window["mainObj"];
main = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Formatting.Indented));

</script>

@using (this.Card())
{
    using (var panel = this.PagePanel())
    {
        using (panel.Header())
        {
            <div style='display: grid;grid-template-columns:  auto 15em 15em;'>
                <h3 style='grid-column: 1;'>Add Source Control</h3>
                
                <h3 style='grid-column: 3;'>
                    <a href='/admin/projects/edit/@(Model.Data.Id)'>View Project</a>
                    @* <i class='fas fa-plus-circle'></i> *@
                </h3>
            </div>
        }

        using (panel.Body())
        {
            @using (var form = this.Form())
            {
                @using (this.Fieldset("Configure Source Control"))
                {
                    var model = Model.Data.SourceControl?.FirstOrDefault(x => x.Id == Model.SourceControlId) ?? new SourceControl();
                    model.SourceControlData = model.SourceControlData ?? new Dictionary<string, string>();
                    if (model.BuildInstructions == null || model.BuildInstructions.Length == 0)
                    {
                        model.BuildInstructions = new[]
                                                  {
                                                      new BuildInstruction
                                                      {
                                                          ExecutableFile = "",
                                                          ExecutableArguments = new string[0]
                                                      }
                                                  };
                    }

                    @(await form.ChooserInput(model)
                                .For(x => x.SourceControlType)
                                .WithOptions(Model.SourceControlTypesValues())
                                .Required()
                                .Build())

                    @(await form.TextInput(model).ForJson(x => x.SourceControlData)
                                .WithLabel("Source Control Data")
                                .Required()
                                .MultiLine(4)
                                .Build())

@*                     @(await form.TextInput(model).For(x => x.SourceControlData["Other"]) *@
@*                                 .WithLabel("Source Control Data [hidden]") *@
@*                                 // .Required() *@
@*                                 .MultiLine(4) *@
@*                                 .Build()) *@

                    @(await form.TextInput(model).For(x => x.BuildInstructions[0].ExecutableFile)
                                .WithLabel("Executable File")
                                .WithPlaceholder("pwsh")
                                .Required()
                                .Build())

                    @(await form.TextInput(model).For(x => x.BuildInstructions[0].ExecutableArguments)
                                .WithLabel("Executable Arguments (One Per Line)")
                                .WithPlaceholder(string.Join(Environment.NewLine, "-File", "bob.ps1", "default"))
                                // .Required()
                                .MultiLine(5)
                                .Build())

                    @(await form.JsonVariable(Model.SourceControlTypes)
                                .WithModule(nameof(Model))
                                .WithId(nameof(Model.SourceControlTypes))
                                .Build())

                    @(await form.JsonVariable(Model.Data)
                                .WithModule(nameof(Model))
                                .WithId(nameof(Model.Data))
                                .Build())

                    @(await form.ShowHide(model).For(x => x.SourceControlType)
                                .When(null)
                                .Hide(x => x.BuildInstructions[0].ExecutableArguments)
                                .When(null)
                                .Hide(x => x.BuildInstructions[0].ExecutableFile)
                                .When(null)
                                .Hide(x => x.SourceControlData)
                                .Build())

                    @await form.Submit(model).For(x => x.Id).Build()
                    <script>
                    var formId = "#@(form.Id)";
                    
                    $(".form-radios input[name='@(nameof(model.SourceControlType))']", $(formId)).change(function (event){
                        var item = window.b2a_data.Model.SourceControlTypes[event.target.value].DefaultData;
                        var container = $(".form-group textarea[name='@(nameof(model.SourceControlData))']", $(formId));
                        container.val(JSON.stringify(item, null, "  "));
                        container.trigger("change");
                        
                    });
                    
                    
                    
                    </script>
                }
            }
        }
    }
}