@using Base2art.CiCd.Coordinator.Web.UI
@using Base2art.CiCd.Coordinator.Web.UI.Pages.Partials
@using Base2art.CiCd.Coordinator.Web.UI.ViewModels.Partials
@using Base2art.Web.Pages
@model Base2art.CiCd.Coordinator.Web.UI.ViewModels.Projects.ViewBuildsModel


@if (Model.Project != null && Model.KnownBranches != null)
{
    @using (this.Card())
    {
        <div style="min-height: 10em; grid-template-columns: auto;margin-top: 1em;margin-bottom: 1em;display: grid; grid-row-gap: 1em;">
            <div style="grid-row: 1;padding-left:1em;padding-right:1em;" class="split-horizontal">
                <div class="col-6">
                    <button onclick="">
                        @* { ()=> *@
                        @*                                     triggerView(proj.projectData.id) } *@
                        <i class="fas fa-edit"></i>
                        <!--<i class="fas fa-code-branch"></i>-->
                    </button>
                </div>
                <div class="col-6" style="text-align: right">
                    <button disabled="@(!Model.Project.IsActive)"  onclick="return triggerRefresh('@(Model.Project.Id)')">
                        <i class="fas fa-sync"></i>
                        <i class="fas fa-code-branch"></i>
                    </button>
                </div>
            </div>
            <div style="grid-row: 2">
                <div style="display: flex; position: relative; justify-content: center;">

                    <h4 style="text-align: center;margin-top: 0; margin-bottom: 0;">
                        @(Model.Project.Name)
                    </h4>

                </div>

            </div>
            <div style="grid-row: 3">
                @* <div style="display: flex; position: relative; justify-content: center; font-size: 4em;"> *@
                @*     @Html.Raw((await WebPage.Create(new StatusIconPrinter(), Model.GetProjectState(proj.KnownBranches ?? new BranchRequisition[0])).Render())) *@
                @* </div> *@
            </div>
            @if (Model.KnownBranches.Length > 0)
            {
                <div style="grid-row: 4">
                    @Html.Raw(await WebPage.Create(new BranchData(), new BranchDataModel
                                                                     {
                                                                         proj = Model.Project,
                                                                         KnownBranches = Model.KnownBranches,
                                                                         Principal = Model.Principal
                                                                     }).Render())
                </div>
            }
        </div>
    }
}

@using (this.Card())
{
    <div style="overflow-x: auto;">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Branch</th>
                <th>Version</th>
                <th>Build Started</th>
                <th>User</th>
                <th>Additional</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var job in Model.Jobs)
            {
                <tr>

                    <td>
                        <a class="clean-link" href="/projects/@(job.ProjectId)/builds">@(job.ProjectName)</a>
                    </td>
                    <td>
                        @Html.Raw(await WebPage.Create(new StatusIconPrinter(), job.State).Render())
                        @* <printer-status includeDescription="true" state={ job.state }></printer-status> *@
                    </td>
                    <td> @(job.SourceCode?.FirstOrDefault().Value?.Name)</td>

                    <td> @(job.Version)</td>


                    <td>
                        <span class="duration-since">@(job.DateCreated)</span>
                        @* <printer-duration since={ job.dateCreated }></printer-duration> *@
                    </td>

                    <td>
                        @(job.OriginatingUser)
                    </td>
                    <td>
                        @if (Model.CanViewBuild())
                        {
                            @* onclick="{ () => viewBuild(job.projectId, job.id) }"> *@
                            <form style="display:inline;" action="/builds/view/@(job.Id)">
                                <input type="submit" value="View">
                            </form>
                            
                        }
                        @if (Model.CanCreateBuild())
                        {
                            @* > *@
                            // 
                            <button style="margin-left:2em" title="Build"
                                onclick="triggerBuild('@(job.ProjectId)', '@(job.SourceCode.FirstOrDefault().Value?.Name)')">
                                Build
                            </button>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}