<application-header>

    <div style="margin-top:0px">

        <div class="row" style="height: 100%">
            <div class="col-9">
                <page-title
                        routes={opts.routes}
                        current_page={opts.current_page}
                        user={opts.user}
                        actions={opts.actions}
                        working_state={opts.working_state}
                ></page-title>

                <is-working
                        routes={opts.routes}
                        current_page={opts.current_page}
                        user={opts.user}
                        actions={opts.actions}
                        working_state={opts.working_state}
                ></is-working>

                <main-navigation
                        horizontal=true
                        routes={opts.routes}
                        current_page={opts.current_page}
                        user={opts.user}
                        actions={opts.actions}
                        working_state={opts.working_state}
                ></main-navigation>
            </div>
            <div class="col-2">

            </div>
            <div class="col-1">
                <div class="row">

                    <sign-in if={opts.user.canSignIn}
                             routes={opts.routes}
                             current_page={opts.current_page}
                             user={opts.user}
                             actions={opts.actions}
                             working_state={opts.working_state}
                    ></sign-in>

                    <mail-box routes={opts.routes}
                              current_page={opts.current_page}
                              user={opts.user}
                              actions={opts.actions}
                              model={opts.model}
                              working_state={opts.working_state}></mail-box>
                    <!--<a if={!opts.user.isAuthenticated()} onclick={actions.signIn} href="javascript:void(0);" >Sign In</a>-->

                    <!--<sign-in if={opts.user.canSignIn}-->
                    <!--routes={opts.routes}-->
                    <!--current_page={opts.current_page}-->
                    <!--user={opts.user}-->
                    <!--actions={opts.actions}-->
                    <!--working_state={opts.working_state}-->
                    <!--&gt;</sign-in>-->

                </div>
                <div class="row">

                </div>

            </div>
        </div>
    </div>


    <script>

        let tag = this;


        tag.on('mount', function () {
            let id = tag.opts.working_state.registerHandler(function(){
                tag.update();
            });

            tag.on("before-unmount", function(){
                tag.opts.working_state.clearHandler(id);
            })
        });

    </script>


</application-header>