<build-details>

    <div style="margin-top:20px">

        <div class="container tableContainer" style="width:100%; max-width:unset">
            <div class="row">
                <div class="col-2">
                    Key
                </div>
                <div class="col-10">
                    Value
                </div>
            </div>


            <div class="row">
                <div class="col-2">
                    Project

                    <button style="margin-left:2em" title="Build"
                            if={canCreateBuilds()}
                            onclick={ triggerBuild }>
                        <i class="fas fa-hammer"></i>
                    </button>
                    
                </div>
                <div class="col-10">
                    {opts.model.projectName}

                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    Version
                </div>
                <div class="col-10">
                    {opts.model.version}
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    Status
                </div>
                <div class="col-10">
                    <printer-status includeDescription="true" state={ opts.model.state }></printer-status>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    Date Started
                </div>
                <div class="col-10">
                    <b>
                        <printer-duration since={opts.model.dateCreated}/>
                    </b>
                    took
                    <b>
                        <printer-duration start={opts.model.dateCreated} end={opts.model.dateFinished}/>
                    </b>
                </div>
            </div>


            <div class="row">
                <div class="col-2">
                    Commits
                </div>
                <div class="col-10">
                    <!--<div style="overflow-y: scroll; max-height:600px; overflow-x: scroll;">-->
                    <!--<virtual each={item in sourceCode()}>-->

                    <!--<debug model={item.commitLogs}></debug>-->

                    <!--</virtual>-->

                    <!--&lt;!&ndash;<code style="white-space: pre"></code>&ndash;&gt;-->
                    <!--</div>-->

                    <virtual each={item in sourceCode()}>
                        <div class="stripedContainer" style="border: dashed darkgrey;">

                            <virtual each={commit in item.commitLogs}>

                                <div class="row" style="width: 100%;">
                                    <div class="col-3">
                                        {commit.author}
                                    </div>
                                    <div class="col-6">
                                        {commit.message}
                                    </div>

                                    <div class="col-3">
                                        <printer-duration
                                                since={commit.when}></printer-duration>
                                    </div>
                                </div>

                            </virtual>

                        </div>

                    </virtual>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    Output
                </div>
                <div class="col-10">
                    <div style="overflow-y: scroll; max-height:600px; overflow-x: scroll;">
                        <code style="white-space: pre" id="outputContainer">{ opts.model.output }</code>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    Error
                </div>
                <div class="col-10">
                    <div style="overflow-y: scroll; max-height:600px; overflow-x: scroll;">
                        <code style="white-space: pre" id="errorContainer">{ opts.model.error }</code>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-2">
                    Messages
                </div>
                <div class="col-10">
                    <div class="row" each={ message in (opts.model.messages || []) }>
                        <div class="col-2">
                            {message.phase}
                        </div>
                        <div class="col-2">
                            {message.message}
                        </div>
                        <div class="col-8">

                            <div style="overflow-y: scroll; max-height:600px; overflow-x: scroll;">
                                <code style="white-space: pre" id="classContainer">
                                    { JSON.stringify(message.data, null, 2) }
                                </code>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <script>


        let tag = this;
        tag.getLines = getLines;
        tag.canCreateBuilds = canCreateBuilds;
        tag.canViewBuildItems = canViewBuildItems;
        tag.triggerBuild = triggerBuild;
        tag.sourceCode = sourceCode;


        function sourceCode() {
            let sc = opts.model.sourceCode;
            let keys = Object.keys(sc);

            let items = [];
            //
            for (var i = 0; i < keys.length; i++) {
                let key = keys[i];

                items.push(sc[key]);
            }

            return items;
        }

        function triggerBuild(e) {

            let item = this.opts.model;
            let scItem = item.sourceCode;
            let key = Object.keys(scItem)[0];
            let projectId = item.projectId;
            let branchName = scItem[key].name;

            this.opts.actions.build(projectId, branchName);
            return false;
        }

        function canCreateBuilds() {
            return this.opts.user.isAuthorized('Builds:Create');
        }

        function canViewBuildItems() {
            return this.opts.user.isAuthorized('Build:Viewer');
        }


        function getLines(messages) {
            messages = messages.replace("\r", "\n");
            while (messages.includes("\n\n")) {
                messages = messages.replace("\n\n", "\n");
            }

            var lines = messages.split("\n");
            var newLines = [];
            for (var i = 0; i < lines.length; i++) {
                var line = lines[i];

                if (line.includes(" - {")) {

                    var lineParts = line.split(" - {", 2);
                    var intro = lineParts[0] + " - ";
                    var lineData = "{" + lineParts[1];

                    newLines.push(intro);

                    try {
                        newLines.push(JSON.stringify(JSON.parse(lineData), null, 2));
                        newLines.push("")
                    }
                    catch (err) {
                        newLines.push(lineData);
                    }
                }
                else {
                    newLines.push(line);
                }

            }

            return newLines.join("\n")
        }


    </script>
</build-details>