<builds-panel>


    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-left:0;margin-right: 0" each={ job in getJobs() }>
                <div class="card-body">
                    <div class="card-container">
                        <div class="full-content">

                            <div class="row">

                                <div class="col-10">
                                    <div style="font-weight: bold;">
                                        { project(job).name }
                                    </div>
                                    <div>

                                    { getVersion(job) }
                                    </div>
                                    <div>

                                        { firstSourceCode(job).name }

                                    </div>
                                    <div>

                                        <b><printer-duration since={ job.dateCreated }></printer-duration></b>
                                        by
                                        {job.originatingUser}
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div style="font-size: xx-large">
                                        <printer-status includeDescription="false" state={ job.state }></printer-status>
                                    </div>
                                    <div>
                                        
                                        <a href="javascript:void(0)" if={canViewBuildItems()} onclick={ viewBuild }>View</a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        let tag = this;

        tag.getVersion = getVersion;
        tag.canCreateBuilds = canCreateBuilds;
        tag.canViewBuildItems = canViewBuildItems;
        tag.debug = debug;
        tag.getJobs = getJobs;
        tag.firstSourceCode = firstSourceCode;
        tag.project = project;
        tag.viewBuild = viewBuild;
        tag.triggerBuild = triggerBuild;

        function getVersion(b) {
            if (b && b.version) {
                return b.version;
            }

            return "( Unknown )";
        }

        function canCreateBuilds() {
            return this.opts.user.isAuthorized('Builds:Create');
        }

        function canViewBuildItems() {
            return this.opts.user.isAuthorized('Build:Viewer');
        }

        function debug(x) {
            return JSON.stringify(x, null, "  ");
        }

        function getJobs() {
            var j = this.opts.model;//.map(function(x) {return {"value":x, "id":x.id} });


            let comp = compare(x => x.dateCreated, true);
            // app.text.stringComparer.ordinalIgnoreCase(x => x.dateCreated, true)
            j.sort(comp);
            return j;
        }

        function firstSourceCode(j) {
            var sc = j.sourceCode;

            var key = Object.keys(sc)[0];
            return sc[key];
        }

        function project(j) {
            return {name: j.projectName};
            // var pid = j.value.projectId;
            // var proj = app.repository.tables.projects.filter(x => x.id === pid);
            // return ((proj.length == 0) ? [{value: {}}] : proj)[0].value;
        }

        function triggerBuild(projectId, branchName) {
            app.actions.build(projectId, branchName);

        }

        function viewBuild(e) {
            var job = e.item.job;
            app.navigation.navigate("/projects/{projectId}/builds/{buildId}", {
                projectId: job.projectId,
                buildId: job.id
            });
            return false;
        }


        function compare(action, invert) {
            return ordinal(x => (action(x) || "").toUpperCase(), invert);
        }


        function ordinal(action, invert) {

            let i = 1;
            if (invert === true) {
                i = -1;
            }

            return function (x, y) {
                let a = action;

                let ax = a(x) || "";
                let ay = a(y) || "";

                if (ax < ay) {
                    return -1 * i;
                }

                if (ax > ay) {
                    return 1 * i;
                }

                return 0 * i;
            }
        };


    </script>


</builds-panel>
