<build-list>


    <!--<div class="card">-->
    <!--<div class="card-body">-->
    <!--<div class="card-container">-->
    <!--<div class="full-content">-->
    <!--<h3 class="card-title">All Builds</h3>-->
    <!--<div style="margin-top:20px">-->

    <div style="overflow-x: auto;">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Branch</th>
                <th>Version</th>
                <th>Build Started</th>
                <th>User</th>
                <th>Additional</th>
            </tr>
            </thead>
            <tbody>
            <tr each={ job in getJobs() }>

                <td>

                    { project(job).name }
                </td>
                <td>
                    <printer-status includeDescription="true" state={ job.state }></printer-status>
                </td>
                <td> { firstSourceCode(job).name }</td>

                <td> { getVersion(job) }</td>


                <td>
                    <printer-duration since={ job.dateCreated }></printer-duration>
                </td>

                <td>
                    {job.originatingUser}
                </td>
                <td>
                    <button if={canViewBuildItems()}
                            onclick="{ () => viewBuild(job.projectId, job.id) }">View
                    </button>
                    <button if={canCreateBuilds()}
                            onclick="{ () => triggerBuild(job.projectId, firstSourceCode(job).name) }">
                        Build
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <script>

        let tag = this;

        tag.getVersion = getVersion;
        tag.canCreateBuilds = canCreateBuilds;
        tag.canViewBuildItems = canViewBuildItems;
        tag.debug = debug;
        tag.getJobs = getJobs;
        tag.firstSourceCode = firstSourceCode;
        tag.project = project;
        tag.viewBuild = viewBuild;
        tag.triggerBuild = triggerBuild;

        function getVersion(b) {
            if (b && b.version) {
                return b.version;
            }

            return "( Unknown )";
        }

        function canCreateBuilds() {
            return this.opts.user.isAuthorized('Builds:Create');
        }

        function canViewBuildItems() {
            return this.opts.user.isAuthorized('Build:Viewer');
        }

        function debug(x) {
            return JSON.stringify(x, null, "  ");
        }

        function getJobs() {
            var j = this.opts.model;//.map(function(x) {return {"value":x, "id":x.id} });


            let comp = compare(x => x.dateCreated, true);
            j.sort(comp);
            return j;
        }

        function firstSourceCode(j) {
            var sc = j.sourceCode;

            var key = Object.keys(sc)[0];
            return sc[key];
        }

        function project(j) {
            return {name: j.projectName};
        }

        function triggerBuild(projectId, branchName) {
            app.actions.build(projectId, branchName);

        }

        function viewBuild(projectId, buildId) {
            app.navigation.navigate("/projects/{projectId}/builds/{buildId}", {projectId: projectId, buildId: buildId});
        }


        function compare(action, invert) {
            return ordinal(x => (action(x) || "").toUpperCase(), invert);
        }


        function ordinal(action, invert) {

            let i = 1;
            if (invert === true) {
                i = -1;
            }

            return function (x, y) {
                let a = action;

                let ax = a(x) || "";
                let ay = a(y) || "";

                if (ax < ay) {
                    return -1 * i;
                }

                if (ax > ay) {
                    return 1 * i;
                }

                return 0 * i;
            }
        };


    </script>


</build-list>
