<dashboard-projects>


    <div class="card  full-card" each={ g in groups(opts.model) }>
        <div class="card-body">
            <div class="card-container">
                <div class="full-content">
                    <h3 class="card-title" style="background-color: #ccccff">{getGroupName(g.item1)}</h3>
                    <div style="margin-top:20px">

                        <div class="">
                            <div class="row">
                                <div class="col-6 card" each={ proj in g.item2 }>
                                    <div style="min-height: 10em;">


                                        <div class="row">
                                            <div class="col-6">
                                                <button onclick={ ()=> triggerView(proj.projectData.id) }>
                                                    <i class="fas fa-edit"></i>
                                                    <!--<i class="fas fa-code-branch"></i>-->
                                                </button>
                                            </div>
                                            <div class="col-6" style="text-align: right">
                                                <button
                                                        onclick={ ()=> triggerRefresh(proj.projectData.id) }>
                                                    <i class="fas fa-sync"></i>
                                                    <i class="fas fa-code-branch"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style=" display: flex; position: relative; justify-content: center;">

                                                <h4 style="text-align: center;">
                                                    <a 
                                                       href="javascript:void(0)"
                                                       onclick={ viewPoject }>
                                                        { cleanName(proj.projectData) }
                                                    </a>
                                                </h4>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div style="display: flex; position: relative; justify-content: center; font-size: 4em;">
                                                <printer-status includeDescription="false"
                                                                state={ getStateProject(proj.knownBranches)
                                                                }></printer-status>
                                            </div>
                                        </div>
                                        <div class="row" if="{proj.knownBranches.length >= 1}">
                                            <div class="col-12"
                                                 style=" display: flex; position: relative; justify-content: center;">

                                                <div class="container stripedContainer" style="width: 95%;">
                                                    <virtual each={ branch, index in proj.knownBranches }>
                                                        <div class="row" style="width: 100%;">
                                                            <div class="col-1">
                                                                <printer-status state={ getState(branch.buildData) }>
                                                                </printer-status>
                                                            </div>
                                                            <div class="col-2">
                                                            
                                                                <span style="width:100%;display:inline-block; white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
                                                                    {getVersion(branch)}
                                                                </span>
                                                            </div>
                                                            <div class="col-5">
                                                                <span style="width:100%;display:inline-block; white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
                                                                    
                                                                    {branch.branchData.name}
                                                                </span>
                                                            </div>
                                                            <div class="col-2">
                                                                <span style="width:100%;display:inline-block; white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
                                                                    <printer-duration since={ (branch.buildData=== null
                                                                                      ?
                                                                                      {dateCreated: null} :
                                                                                      branch.buildData).dateCreated
                                                                                      }></printer-duration>
                                                                </span>
                                                            </div>
                                                            <div class="col-1">
                                                                <button title="Build"
                                                                        if={canCreateBuilds()}
                                                                        onclick={ ()=> triggerBuild(proj.projectData.id,
                                                                    branch.branchData.name) }>
                                                                    <i class="fas fa-hammer"></i>
                                                                </button>
                                                            </div>
                                                            <div class="col-1">
                                                                <button title="Show Logs"
                                                                        if={canCreateBuilds()}
                                                                        onclick={ ()=> toggleLog(proj.projectData.id,
                                                                    branch.branchData.name) }>
<!--                                                                    <i class="fab fa-pied-piper-alt"></i>-->
                                                                    <i class="far fa-list-alt"></i>
                                                                </button>
                                                            </div>
                                                        </div>

                                                        <div class="row" style="width: 100%;"
                                                             if={canShowLog(proj.projectData.id, branch.branchData.name)}>
                                                            <div class="col-12">
                                                                <!--container-->
                                                                <div class="stripedContainer" 
                                                                     style="border: dashed darkgrey;">

                                                                    <virtual each={commit in
                                                                             branch.branchData.commitLogs}>

                                                                        <div class="row" style="width: 100%;">
                                                                            <div class="col-3">
                                                                                {commit.author}
                                                                            </div>
                                                                            <div class="col-6">
                                                                                {commit.message}
                                                                            </div>

                                                                            <div class="col-3">
                                                                                <printer-duration
                                                                                        since={commit.when}></printer-duration>
                                                                            </div>
                                                                        </div>

                                                                    </virtual>

                                                                </div>
                                                                <!--<printer-status state={ getState(branch.buildData) }>-->
                                                                <!--</printer-status>-->
                                                            </div>
                                                        </div>
                                                    </virtual>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>


        let tag = this;
        tag.getVersion = getVersion;
        tag.viewPoject = viewPoject;
        tag.canViewBuilds = canViewBuilds;
        tag.getGroupName = getGroupName;
        tag.canCreateBuilds = canCreateBuilds;
        tag.cleanName = cleanName;
        tag.getValues = getValues;
        tag.groups = groups;
        tag.getState = getState;
        tag.triggerBuild = triggerBuild;
        tag.triggerRefresh = triggerRefresh;
        tag.triggerView = triggerView;
        tag.toggleLog = toggleLog;
        tag.getStateProject = getStateProject;
        tag.canShowLog = canShowLog;
        tag.currentLogView = "";

        function canShowLog(projectId, branchName) {
            let id = projectId + "_" + branchName;

            if (tag.currentLogView === id) {
                return true;
            }

            return false;
        }


        function toggleLog(projectId, branchName) {

            let id = projectId + "_" + branchName;
            if (tag.currentLogView === id) {
                tag.currentLogView = "";
            }
            else {
                tag.currentLogView = id;
            }
        }

        function getVersion(b) {
            if (b && b.buildData && b.buildData.version) {
                return b.buildData.version;
            }

            return "(Unknown)";
        }

        function viewPoject(e) {
            app.navigation.navigate("/projects/{projectId}", {projectId: e.item.proj.projectData.id});
        }

        function canViewBuilds() {
            
            return this.opts.user.isAuthorized('Builds:View');
        }

        function canCreateBuilds() {
            
            return this.opts.user.isAuthorized('Builds:Create');
        }


        function getGroupName(x) {
            return x || "Default Group";
        }

        function cleanName(x) {
            return x.name.split('/').slice(-1)
        }

        function getValues(x) {
            return x || [];
        }

        function groups(list) {
            function groupBy(list, keyGetter) {
                const map = new Map();
                list.forEach((item) => {
                    const key = keyGetter(item);
                    const collection = map.get(key);
                    if (!collection) {
                        map.set(key, [item]);
                    } else {
                        collection.push(item);
                    }
                });
                return map;
            }

            let rez = groupBy(list, function (x) {

                let name = "";
                if (x != null && x.projectData != null && x.projectData.name != null) {
                    name = x.projectData.name;
                }

                return name.split('/').slice(0, -1).join('/');
            });
            let entries = rez.entries();
            let arr = Array.from(entries);
            let rez2 = arr.map(function (x) {
                let yy = x[1];
                let comp = compare(z => z.projectData.name, false);
                yy.sort(comp);
                return {item1: x[0], item2: yy}
            });

            let comp = compare(x => x.item1, false);
            rez2.sort(comp);
            return rez2;
        }

        function compare(action, invert) {
            return ordinal(x => (action(x) || "").toUpperCase(), invert);
        }


        function ordinal(action, invert) {

            let i = 1;
            if (invert === true) {
                i = -1;
            }

            return function (x, y) {
                let a = action;

                let ax = a(x) || "";
                let ay = a(y) || "";

                if (ax < ay) {
                    return -1 * i;
                }

                if (ax > ay) {
                    return 1 * i;
                }

                return 0 * i;
            }
        };


        function getStateProject(knownBranches) {
            // var branches = proj.branches; 
            if (knownBranches == null || knownBranches.length === 0) {
                return this.getState({state: "Working"});
            }

            knownBranches = knownBranches.map(x => x.buildData).filter(x => x != null);

            // Unknown, Pending, Claimed, Working, CompletedSuccess, CompletedFail, RunningLong
            var failed = knownBranches.filter(x => x.state == "CompletedFail");
            if (failed.length >= 1) {
                return this.getState(failed[0]);
            }

            var pending = knownBranches.filter(x => x.state == "Pending" || x.state == "Claimed" || x.state == "Working" || x.state == "RunningLong");
            if (pending.length >= 1) {
                return this.getState(pending[0]);
            }

            if (knownBranches.length >= 1) {
                return this.getState(knownBranches[0]);
            }

            return this.getState(null);
        }

        function getState(job) {
            return (job == null ? {state: 'Unknown'} : job).state;
        }

        function triggerBuild(projectId, branchName) {
            opts.actions.build(projectId, branchName);
        }

        function triggerRefresh(projectId) {
            opts.actions.refreshBranches(projectId);
        }
        
        function triggerView(projectId) {

            app.navigation.navigate("/projects/{projectId}/edit", {
                projectId: projectId
            });
        }


    </script>
</dashboard-projects>
