<debug>
    <virtual if={opts.model} >
        <pre><code>{debug(opts.model)}</code></pre>    
    </virtual>
    
    <script>

        let tag = this;
        tag.debug = debug;

        function debug(x) {
            return JSON.stringify(x, null, "  ");
        }
    </script>
</debug>