<keys-view>

    <virtual if={opts.model.items}>
        <h3>{opts.model.title}</h3>
        <div style="margin-top:20px">


            <table>
                <thead>
                <tr>
                    <th each={header in headers()}>{header}</th>
                </tr>
                </thead>
                <tbody>
                <tr each={ item in opts.model.items}>
                    
                        <td each={key in keys()}>
                            <virtual if={opts.model.dataTypes[key] === 'code'}>
                                <pre><code>{item[key]}</code></pre>
                            </virtual>
                            <virtual if={opts.model.dataTypes[key] === 'date-since'}>
                                {dateSince(item[key])}
                            </virtual>
                            <virtual if={opts.model.dataTypes[key] == null}>
                                {item[key]}
                            </virtual>
                        </td>                    
                </tr>
                </tbody>
            </table>
        </div>
    </virtual>
    
    <script>

        var tag = this;
        tag.headers = headers;
        tag.keys = keys;
        
        tag.dateSince = dateSince;

        function dateSince(x){

                var created = moment.utc(x);
                var now = moment.utc();

                return moment.duration(created.diff(now)).humanize(true);
            
        }
        
        function headers() {
            return Object.keys( this.opts.model.items[0] );
        }

        function keys() {
            return Object.keys( this.opts.model.items[0] );
        }

    </script>
</keys-view>
