<left-nav>
    
    <h4>Navigation</h4>
    <main-navigation
            routes={opts.routes}
            current_page={opts.current_page}
            user={opts.user}
            actions={opts.actions}
            working_state={opts.working_state}
    ></main-navigation>
    
</left-nav>