<printer-status>

    <span if={ include(opts.includedescription) }>
        { formatState(opts.state) }
        
    </span>


    <i class="fas fa-thumbs-up" if={ isSuccess(opts.state) }></i>
    <i class="fas fa-thumbs-down" if={ isFailed(opts.state) }></i>
    <i class="fas fa-question" if={ isUnknown(opts.state) }></i>
    <i class="fas fa-spinner  fa-spin" if={ isWorking(opts.state) }></i>
    <i class="fas fa-clock" if={ isPending(opts.state) }></i>

    <script>
        let tag = this;
        tag.formatState = formatState;
        tag.isFailed = isFailed;
        tag.isSuccess = isSuccess;
        tag.isPending = isPending;
        tag.isWorking = isWorking;
        tag.isUnknown = isUnknown;
        tag.include = include;

        function isFailed(state) {
            return "CompletedFail" === state;
        }

        function isSuccess(state) {
            return "CompletedSuccess" === state;
        }

        function isPending(state) {
            return "Pending" === state;
        }

        function isWorking(state) {
            return " " === state || "Working" === state;
        }

        function isUnknown(state) {
            return "Unknown" === state;
        }

        function include(include) {
            return include === "true"
        }


        function formatState(state) {
            switch (state) {
                case "CompletedFail":
                    return "Failed";
                case "CompletedSuccess":
                    return "Success";
            }

            return state || "Unknown";
        }

    </script>
</printer-status>