<project-edit>

    <user-form model={mainForm}></user-form>
    <virtual if={opts.model.project}>
        <user-form model={getSourceControlForm()}></user-form>
        <user-form model={getFeaturesForm()}></user-form>
    </virtual>


    <script>

        let tag = this;

        // tag.compare = compare;
        tag.__backingFeatures = null;
        tag.__featuresForm = null;
        tag.__sourceControlForm = null;

        tag.featuresForm = featuresForm;
        tag.sourceControlForm = sourceControlForm;
        tag.getFeaturesForm = getFeaturesForm;
        tag.getSourceControlForm = getSourceControlForm;
        tag.getFeatures = getFeatures;

        tag.sort = sort;

        tag.alert = function (body) {

            alert("Success!");

            tag.update();
        };

        function comparer(lambda) {
            return function (a, b) {
                if (lambda(a).toUpperCase() > lambda(b).toUpperCase()) return 1;
                if (lambda(b).toUpperCase() > lambda(a).toUpperCase()) return -1;
                return 0;
            }
        }

        function sort(x, compFunction) {
            let compilationFeatures = (x || []).map(y => y);
            compilationFeatures.sort(compFunction);
            return compilationFeatures;
        }

        tag.mainForm = {
            disabled: opts.model.project != null,
            title: function (value) {

                if (value == null || value.name == null) {
                    return "Project: Creating...";
                }

                return "Project: " + value.name;
            },
            handleSubmit: function (value) {

                let actions = tag.opts.actions;
                actions.addProject(value, function(data){
                    
                    actions.navigate("/projects/{projectId}/edit", {projectId: data.id})
                });
                
            },
            fields: [
                {
                    type: "text",
                    placeholder: "",
                    label: "Project Name",
                    key: "name"
                },

                {
                    type: "chooser",
                    label: "Versioning Strategy",
                    options: [
                        {
                            label: "Semantic",
                            value: "Semantic",
                            chosen: true,
                            children: ["versioning.data.startingVersion"]
                        },
                        {
                            label: "Date Strategy #1",
                            value: "DateStrategy1",
                            chosen: false,
                            children: ["versioning.data.format"]
                        }

                    ],
                    minimum: 1,
                    maximum: 1,
                    key: "versioning.strategy"
                },

                {
                    type: "text",
                    placeholder: "",
                    value: "yy.MMdd.HHmm.ss",
                    label: "Version format",
                    key: "versioning.data.format"
                },

                {
                    type: "text",
                    placeholder: "",
                    value: "0.0.0.1",
                    label: "Starting Versioning",
                    key: "versioning.data.startingVersion"
                }
            ],
            value: opts.model.project || {}
        };


        function getFeatures() {
            if (tag.__backingFeatures == null) {
                tag.__backingFeatures = {features: tag.opts.model.project.requiredFeatures.map(x => x.id)};
            }

            return tag.__backingFeatures;
        }

        function getFeaturesForm() {
            if (tag.__featuresForm == null) {
                tag.__featuresForm = tag.featuresForm();
            }

            return tag.__featuresForm;
        }

        function getSourceControlForm() {
            
            if (tag.__sourceControlForm == null) {
                tag.__sourceControlForm = tag.sourceControlForm();
            }

            return tag.__sourceControlForm;
        }


        function featuresForm() {
            return {
                title: "Configure Features",
                handleSubmit: function (value) {


                    let projectId = tag.opts.model.project.id;
                    let actions = tag.opts.actions;
                    actions.setFeatures(projectId, value.features, (x) => tag.alert(x));
                    // alert(JSON.stringify(value, null, "  "));
                },
                fields: [
                    {
                        type: "chooser",
                        options: sort(this.opts.model.compile, comparer(x => x.simpleName)).map(function (x) {
                            return {
                                label: x.simpleName,
                                value: x.id,
                                chosen: false
                            };
                        }),
                        label: "Features",
                        minimum: 0,
                        maximum: null,
                        key: "features"
                    }
                ],
                value: tag.getFeatures()
            };
        }


        function sourceControlForm() {


            let sc = opts.model.project.sourceControl.length === 0 ? {buildInstructions: []} : opts.model.project.sourceControl[0];
            let bi = sc.buildInstructions.length === 0 ? {executableArguments: []} : sc.buildInstructions[0];

            var myValue = {
                sourceControlType: sc.sourceControlType,
                executableFile: bi.executableFile,
                executableArguments: bi.executableArguments.join("\r\n")
            };


            myValue["data" + sc.sourceControlType] = JSON.stringify(sc.sourceControlData, null, "  ");

            
            return {
                title: "Configure Source Control",
                handleSubmit: function (value) {

                    let projectId = tag.opts.model.project.id;
                    let actions = tag.opts.actions;
                    //debugger;
                    //projectId, sourceControlType, data, executableFile, executableArguments

                    actions.setSourceControl(
                        projectId,
                        value.sourceControlType,
                        JSON.parse(value["data" + myValue.sourceControlType]),
                        value.executableFile,
                        value.executableArguments.split(/\r?\n/),
                        (x) => tag.alert(x));


                },
                fields: [
                    {
                        type: "chooser",
                        label: "Source Control Type",
                        options: sort(this.opts.model.source, comparer(x => x.simpleName)).map(function (x) {
                            return {
                                label: x.simpleName,
                                value: x.id,
                                chosen: false,
                                children: ["data" + x.id]
                            };
                        }),
                        minimum: 1,
                        maximum: 1,
                        key: "sourceControlType"
                    },

                    {
                        type: "text",
                        placeholder: "pwsh.exe",
                        label: "Executable File",
                        key: "executableFile"
                    },
                    {
                        type: "text",
                        placeholder: "",
                        multiline: true,
                        label: "Executable Arguments (One Per Line)",
                        key: "executableArguments"
                    }

                ].concat(sort(this.opts.model.source, x => x.id).map(function (x) {
                    return {
                        type: "text",
                        multiline: true,
                        value: JSON.stringify(x.defaultData, null, "  "),
                        label: "Source Control Data",
                        key: "data" + x.id
                    };
                })),
                value: myValue
            };
        }


        function setValueOfSelect($select, $values, selected) {


            $("option", $select).each(function (i, y) {

                for (let j = 0; j < $values.length; j++) {

                    let firstValue = $values[j];
                    let optionValue = y.value;
                    if (optionValue === firstValue) {
                        y.selected = selected;
                    }
                }
            });

            $select.each((i, y) => y.dispatchEvent(new Event('change')));
        }

        tag.on('mount', function () {
            let $node = $(this.root);
            setTimeout(function () {
                $node.find('select').multiSelect({
                    afterSelect: function (values) {
                        setValueOfSelect(this.$element, values, true);
                    },
                    afterDeselect: function (values) {
                        setValueOfSelect(this.$element, values, false);
                    }
                });
            }, 0);
        });

    </script>


</project-edit>