<project-edit-source-control>

    <!--    <user-form app="{app}" model="{sourceControlFeatures()}"></user-form>-->
    <!--    <pre><code>{debug(opts.model)}</code></pre>-->
    <user-form model="{sourceControlFeatures()}"></user-form>


    <script>

        let tag = this;

        tag.sourceControlFeatures = sourceControlFeatures;


        function sourceControlFeatures() {

            var sourceOptions = (this.opts.model.source || []).map(function (x) {
                return {
                    label: x.simpleName,
                    value: x.id,
                    chosen: false,
                    children: ["data" + x.id]
                };
            });



            var childOptions = (this.opts.model.source || []).map(function (x) {
                return {
                    type: "text",
                    multiline: true,
                    value: JSON.stringify(x.defaultData, null, "  "),
                    label: "Source Control Data",
                    key: "data" + x.id
                };
            });

            let sc = opts.model.project.sourceControl[0];
            let bi = sc.buildInstructions[0];

            var myValue = {
                sourceControlType: sc.sourceControlType,
                executableFile: bi.executableFile,
                executableArguments: bi.executableArguments.join("\r\n")
            };


            myValue["data" + sc.sourceControlType] = JSON.stringify(sc.sourceControlData, null, "  ");
            

            var handle = tag;


            var fields = [
                {
                    type: "chooser",
                    label: "Source Control Type",
                    options: sourceOptions,
                    minimum: 1,
                    maximum: 1,
                    key: "sourceControlType"
                },

                {
                    type: "text",
                    placeholder: "pwsh.exe",
                    label: "Executable File",
                    key: "executableFile"
                },
                {
                    type: "text",
                    placeholder: "",
                    multiline: true,
                    label: "Executable Arguments (One Per Line)",
                    key: "executableArguments"
                }

            ];

            for (let i = 0; i < childOptions.length; i++) {
                fields.push(childOptions[i]);
            }


            let formData1 = {
                title: function (value) {

                    if (value == null || value.server == null) {
                        return "Source Control: Adding...";
                    }

                    return "Server: " + value.server.name;
                },
                handleSubmit: function (value, app) {
                    // var content = JSON.stringify(myValue, null, "  ");
                    // console.log(content);
                    // console.log(myValue);

                    app.actions.addSourceControl(
                        app.model.project.id,
                        value.sourceControlType,
                        value["data" + myValue.sourceControlType],
                        value.executableFile,
                        value.executableArguments.split(/\r?\n/),
                    );

                    handle.update();
                },
                fields: fields,
                value: myValue
            };

            return formData1;

        }



        // if (sourceOptions.length > 0) {
        //
        //     debugger;
        //     let matches = sourceOptions.filter(x => x.value == opts.model.project.sourceControl[0].id);
        //
        //     if (matches.length === 0) {
        //         sourceOptions[0].chosen = true;
        //     } else {
        //         matches.forEach(x => x.chosen = true);
        //     }
        //
        // }



    </script>


</project-edit-source-control>