<project-edit-standard-data>

    <user-form model={projectData()}></user-form>


    <script>

        let tag = this;
        tag.projectData = projectData;
        

        function projectData() {

            let formData = {
                title: function (value) {

                    if (value == null || value.name == null) {
                        return "Project: Creating...";
                    }

                    return "Project: " + value.name;
                },
                handleSubmit: function (value, app) {
                    app.actions.addProject(value);
                },
                fields: [
                    {
                        type: "text",
                        placeholder: "",
                        label: "Project Name",
                        key: "name"


                    },

                    {
                        type: "chooser",
                        label: "Versioning Strategy",
                        options: [
                            {
                                label: "Semantic",
                                value: "Semantic",
                                chosen: true,
                                children: ["versioning.data.startingVersion"]
                            },
                            {
                                label: "Date Strategy #1",
                                value: "DateStrategy1",
                                chosen: false,
                                children: ["versioning.data.format"]
                            }

                        ],
                        minimum: 1,
                        maximum: 1,
                        key: "versioning.strategy"
                    },

                    {
                        type: "text",
                        placeholder: "",
                        value: "yy.MMdd.HHmm.ss",
                        label: "Version format",
                        key: "versioning.data.format"
                    },

                    {
                        type: "text",
                        placeholder: "",
                        value: "0.0.0.1",
                        label: "Starting Versioning",
                        key: "versioning.data.startingVersion"
                    }
                ],
                value: opts.model.project || {}
            };


            return formData;
        }


    </script>


</project-edit-standard-data>