<project-edit-features>

    <!--    <user-form app="{app}" model="{sourceControlFeatures()}"></user-form>-->
    <!--    <pre><code>{debug(opts.model)}</code></pre>-->
    <user-form model="{opts.model}"></user-form>


    <script>

        // let tag = this;



        // var content = JSON.stringify(myValue, null, "  ");
        // console.log(content);
        // console.log(myValue);

        // return false;
        // app.actions.addSourceControl(
        //     app.model.project.id,
        //     value.sourceControlType,
        //     value["data" + myValue.sourceControlType],
        //     value.executableFile,
        //     value.executableArguments.split(/\r?\n/),
        // );

    </script>


</project-edit-features>