<servers-panel>


    <!--<div class="row">-->
    <!--<div class="col-6">-->
    <!--<div class="card full-card">-->
    <!--<div class="card-body">-->
    <!--<div class="card-container">-->
    <!--<div class="full-content">-->
    <!--<h3 class="card-title">Compilation</h3>-->


    <!--<div class="card  full-card" each={ server in getSourceCode() }>-->
    <!--<div class="card-body">-->
    <!--<div class="card-container">-->
    <!--<div>-->

    <!--&lt;!&ndash;{ server.serverType }&ndash;&gt;-->
    <!--{ server.name }-->
    <!--<i class="fas fa-thumbs-up" if={ server.enabled }></i>-->
    <!--<i class="fas fa-thumbs-down" if={ !server.enabled }></i>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="col-6">-->
    <!--<div class="card full-card">-->
    <!--<div class="card-body">-->
    <!--<div class="card-container">-->
    <!--<div class="full-content">-->
    <!--<h3 class="card-title">Source Code</h3>-->

    <div class="card  full-card" each={ server in opts.model }>
        <div class="card-body">
            <div class="card-container">
                <div>

                    <!--{ server.serverType }-->
                    { server.name }
                    <i class="fas fa-thumbs-up" if={ server.enabled }></i>
                    <i class="fas fa-thumbs-down" if={ !server.enabled }></i>
                </div>
            </div>
        </div>
    </div>

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<script>-->

    <!--let tag = this;-->
    <!--tag.getSourceCode = getSourceCode;-->
    <!--tag.getCompilation = getCompilation;-->

    <!--function getSourceCode() {-->
    <!--return this.opts.model.filter(x => x.serverType === "SourceControl");-->
    <!--}-->

    <!--function getCompilation() {-->
    <!--return this.opts.model.filter(x => x.serverType === "Compilation");-->
    <!--}-->

    <!--</script>-->


</servers-panel>
