table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) { background-color: #f2f2f2; }

table tr:hover { background-color: #ddd; }

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ccccff !important;
    color: black;
}

body { background-color: #e8e8e8; }

.content-wrapper { background-color: #e8e8e8; }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /*background-color:white;*/
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

/* On mouse-over, add a deeper shadow */

.card:hover { box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

/* Add some padding inside the card container */

.card-container {
    display: inline-block;
    width: 100%;
    /*background-color: #FBFBFB;*/
    /*background: #FBFBFB;*/
    zoom: 1; /* new block formatting context via hasLayout for IE 6/7 */
}

/* Should contain all floated and non-floated content, so it needs to
* establish a new block formatting context without using overflow: hidden.
*/

.card-container { }

.full-content {
    padding: 20px 16px;
    /*float: left;
    width:100%;*/
}


/* Fixed-width floated sidebar. */

.sidebar-left { padding: 2px 16px; }

/* Needs to make space for the sidebar. */

.main {
    /*margin-left: 260px;
    margin-right: 260px;*/
    /*padding-top: 18px;*/
    padding-left: 16px;
    padding-right: 36px;
    padding-bottom: 18px;
}

.sidebar-right { padding: 2px 16px; }

/* Establishes a new block formatting context to insulate descendants from
* the floating sidebar. */

.main-content {
    display: inline-block;
    zoom: 1; /* new block formatting context via hasLayout for IE 6/7 */
}


@media only screen and (min-width: 1px) {
    .card-container { background-color: #FBFBFB; }
}

@media only screen and (min-width: 768px) {
    .sidebar-left {
        float: left;
        width: 260px;
    }

    .main {
        margin-left: 276px;
        margin-right: 276px;
    }



    .sidebar-right {
        float: right;
        width: 260px;
    }
}


fieldset input {
    display: block;
    width: 100%;
}

fieldset textarea {
    display: block;
    width: 100%;
    height: 160px;
}

fieldset select {
    display: block;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    fieldset input {
        display: block;
        width: 450px;
    }

    fieldset textarea {
        display: block;
        width: 450px;
    }

    fieldset select {
        display: block;
        width: 450px;
    }
}

.tableContainer > .row:first-child { background-color: #ccccff; }

.tableContainer > .row:nth-child(2n + 3) { background-color: #ddd; }

.tableContainer > .row:nth-child(2n + 2) { background-color: #f2f2f2; }


.stripedContainer > .row:nth-child(2n + 2) { background-color: #ddd; }

.stripedContainer > .row:nth-child(2n + 1) { background-color: #f2f2f2; }



.form-group{
    margin-bottom: 10px;
}

.form-check{
    margin-bottom: 10px;
}

.form-check input{
    width: unset;
    display: inline;
}

pre{
    /*border: 1px solid black;*/
    background-color: #ffffff;
}
code {
    font-family: monospace;
    
    
}
